@use 'helpers' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: rem(90);
}

/* Глобально убираем выделение и tap-highlight */
html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

/* Все элементы */
*,
*::before,
*::after {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body{
    font-size: rem(16);

    font-family: var(--font-family);

    position: relative;

    background: #F6F7F9;
    
    color: var(--Text-Black);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    margin: 0;

    color: var(--Text-Black);
}

h1, .h1{
    @include fluid-text();
}
h2, .h2{
    @include fluid-text();
}
h3, .h3{
    @include fluid-text();
}
h4, .h4{
    @include fluid-text();
}
h5, .h5{
    @include fluid-text();
}
h6, .h6{
    @include fluid-text();
}

a,
button,
label,
input,
textarea,
select,
svg *{
    transition-duration: var(--transition-duration);
}

:focus-visible{
    outline: rem(2) dashed #000;
    outline-offset: rem(4);
    transition-duration: 0s !important;
}