@use 'helpers' as *;

.container{
    width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    @include laptop{
        width: 100%;
    }

    &--wrapper{
        overflow: hidden;
    }

    @include mobile{
        &--wrapper-phone{
            overflow: hidden;
        }
    }
}

.visually-hidden{
    @include visually-hidden;
}

.hidden-mobile{
    @include mobile{
        display: none !important;
    }
}

.visible-mobile{
    @include mobile-above{
        display: none !important;
    }
}