@use 'helpers' as *;

:root{
    // color
    --white: #fff;

    --Text-White:#FFF;
    --Text-Black-00:#000;
    --Text-Black:#020202;
    --Text-Grey:#4D4D4D;
    --Text-Orange:#E1401C;
    --Text-Grey-bb:#BBBFD1;

    --Background-White:#fff;
    --Background-Body:#F6F7F9;
    --Background-Blue:#4E1BE0;
    --Background-Blue-80:#8053FF;
    --Background-Blue-3a:#3A227D;
    --background-orange:#E1401C;
    --background-orange-db:#DB6C04;
    --Background-Green-0e:#0ED179;
    --Background-Grey-e6:#F6F7F9;
    --Background-Grey-e7:#E7E6EB;
    --Background-Grey-e9:#E9EBF4 ;
    --Background-Grey-e8:#E8EAF3;

    --Background-fcf:#FCF6E0;
    
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --border-radius-20: 20px;
    --border-radius-24: 24px;

    --Button-Red: linear-gradient(90deg, #E1401C 0%, #FB3F15 50%, #FA4E28 100%);
    --Gradient-Grey:linear-gradient(155deg, #E9EBF4 22.38%, #F8F8FE 85.63%);
    --Gradient-Blue:linear-gradient(90deg, #7240FF 0%, #5F2DEF 50.48%, #7240FF 100%);
    --Gradient-Blue-Banner:linear-gradient(180deg, rgba(78, 27, 224, 0.00) 40.31%, #4E1BE0 100%);
    --Gradient-Blue-Banner-full:linear-gradient(180deg, rgba(78, 27, 224, 0.50) 40.31%, #4E1BE0 100%);
    --Gradient-Grey-left: linear-gradient(90deg, #F6F7F9 15.45%, rgba(246, 247, 249, 0.00) 100%);
    --Gradient-Grey-right: linear-gradient(270deg, #F6F7F9 15.45%, rgba(246, 247, 249, 0.00) 100%);
    --Gradient-Brown-right: linear-gradient(270deg, #3B2114 0%, #61493D 73.24%);
    --Gradient-Dark-top:linear-gradient(180deg, rgba(2, 2, 2, 0.00) 54.99%, rgba(2, 2, 2, 0.90) 100%);


    --Shadow-Orange:box-shadow: 0 6px 16px 0 rgba(251, 63, 21, 0.20);


    // font
    --font-family: "Noto Sans", sans-serif;
    --second-family: "Montserrat", sans-serif;

    // width and padding
    --container-width: #{rem(1170)};
    --container-padding-x: #{rem(20)};

    // animation
    --transition-duration: .2s;
    --transition: all var(--transition-duration);
}