@use 'helpers' as *;

:root{
    // color
    --white: #fff;

    --Text-White:#FFF;
    --Text-Black:#020202;
    --Text-Grey:#4D4D4D;
    --Text-Orange:#E1401C;
    --Text-Grey-bb:#BBBFD1;

    --Background-White:#fff;
    --Background-Body:#F6F7F9;
    --Background-Blue:#4E1BE0;
    --background-orange:#E1401C;

    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --border-radius-20: 20px;
    --border-radius-24: 24px;

    --Button-Red: linear-gradient(90deg, #E1401C 0%, #FB3F15 50%, #FA4E28 100%);
    --Gradient-Grey:linear-gradient(155deg, #E9EBF4 22.38%, #F8F8FE 85.63%);
    --Gradient-Blue:linear-gradient(90deg, #7240FF 0%, #5F2DEF 50.48%, #7240FF 100%);

    // font
    --font-family: "Noto Sans", sans-serif;
    --second-family: "Montserrat", sans-serif;

    // width and padding
    --container-width: #{rem(1170)};
    --container-padding-x: #{rem(20)};

    // animation
    --transition-duration: .2s;
    --transition: all var(--transition-duration);
}