@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/ui.scss';
@use './blocks/page.scss';
@use './blocks/header.scss';
@use './blocks/footer.scss';
@use './blocks/hero.scss';
@use './blocks/everyone.scss';
@use './blocks/step.scss';

@use './blocks/tabs.scss';