@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/ui.scss';
@use './blocks/page.scss';
@use './blocks/header.scss';
@use './blocks/footer.scss';
@use './blocks/hero.scss';
@use './blocks/everyone.scss';
@use './blocks/step.scss';

@use './blocks/tabs.scss';
@use './blocks/special.scss';
@use './blocks/materials.scss';
@use './blocks/history.scss';
@use './blocks/answers.scss';

@use './blocks/hero-next.scss';
@use './blocks/what.scss';
@use './blocks/exams.scss';
@use './blocks/check.scss';
@use './blocks/price.scss';

@use './blocks/balls.scss';
@use './blocks/failed.scss';
@use './blocks/tabs-next.scss';
@use './blocks/sign.scss';
@use './blocks/find.scss';
@use './blocks/banner.scss';

@use './blocks/mission.scss';
@use './blocks/creates.scss';

@use './blocks/partners.scss';
@use './blocks/breadcrumbs.scss';
@use './blocks/blog.scss';

@use './blocks/long.scss';
@use './blocks/long-if.scss';

@use './blocks/long-main.scss';