<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="./src/styles/main.scss">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a href="/" class="header__logo">
                    <img src="./public/assets/svg/Logo.svg" alt="" width="117" height="32">
                </a>

                <menu class="header__menu" data-da=".header__phone-menu-wrapper,1023.98,0">
                    <ul>
                        <li>
                            <a href="">Тренажер</a>
                        </li>

                        <li>
                            <a href="">Жизнь в России</a>
                        </li>

                        <li>
                            <a href="">О проекте</a>
                        </li>

                        <li>
                            <a href="">Как сдать экзамен</a>
                        </li>
                    </ul>
                </menu>

                <div class="header__setting">
                    <div class="header__lang" data-js-lang>
                        <button class="header__lang-open btn" data-js-lang-btn>
                            <span class="icon">
                                <img src="./public/assets/svg/lang-Icon.svg" alt="world" width="18" height="18">
                            </span>

                            ru

                            <span class="icon">
                                <img src="./public/assets/svg/arrow.svg" alt="arrow" width="7" height="4">
                            </span>
                        </button>

                        <div class="header__lang-wrapper" data-js-lang-wrapper>
                            <div class="header__lang-content" data-js-lang-content>
                                <ul>
                                    <li>
                                        <a href="">ENG</a>
                                    </li>
                                    <li>
                                        <a href="">FN</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn--base btn--orange">
                        Войти
                    </button>

                    <div class="header__open-menu">
                        <button class="btn btn--orange btn--phone" data-js-open-menu>
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__phone-menu" data-js-menu-wrapper>
            <div class="header__phone-menu-wrapper" data-js-menu-content>
                <div class="header__phone-menu-footer">
                    <button class="btn btn--orange btn--add-phone">Начать обучение</button>
                    <button class="btn btn--white btn--add-phone">Войти</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="page__item-first">
            <div class="hero-next">
                <div class="container">
                    <div class="page__item-color">
                        <div class="hero-next__container">

                            <div class="hero-next__main">
                                <p class="hero-next__pre-title">
                                    Пошаговое руководство для иностранных граждан
                                </p>

                                <h1 class="hero-next__title">
                                    Как сдать экзамен на патент, РВП и ВНЖ?
                                </h1>

                                <p class="hero-next__text">
                                    Где сдавать, сколько стоит и как подготовиться
                                </p>
                            </div>

                            <img src="./public/assets/img/hero-next/exam.webp" alt="" class="hero-next__img">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__item">
            <div class="container">
                <h2 class="page__item-title">
                    Зачем нужно сдавать экзамен?
                </h2>

                <div class="page__item-wrapper">
                    <div class="what">
                        <p class="page__item-text">Для большинства иностранцев экзамен — обязательное условие для
                            легального пребывания в России. Сертификат подтверждает знание русского языка, истории и
                            основ законодательства.</p>

                        <div class="what__content">
                            <div class="what__item">
                                <div class="what__img">
                                    <img src="./public/assets/img/what/Image-1.webp" alt="Патент на работу" class="">
                                </div>

                                <p class="what__text">
                                    Получения патента на работу
                                </p>
                            </div>
                            <div class="what__item">
                                <div class="what__img what__img--bottom">
                                    <img src="./public/assets/img/what/Image-2.webp" alt="Патент на работу" class="">
                                </div>

                                <p class="what__text">
                                    Оформления разрешения на временное проживание (РВП) или вида на жительство (ВНЖ)
                                </p>
                            </div>
                            <div class="what__item">
                                <div class="what__img what__img--bottom">
                                    <img src="./public/assets/img/what/Image-3.webp" alt="Патент на работу" class="">
                                </div>

                                <p class="what__text">
                                    Подачи документов на гражданство
                                </p>
                            </div>
                            <div class="what__item">
                                <div class="what__img">
                                    <img src="./public/assets/img/what/Image-4.webp" alt="Патент на работу" class="">
                                </div>

                                <p class="what__text">
                                    Поступления в российский вуз (ТРКИ)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__item page__item--wrapper">
            <div class="container">
                <h2 class="page__item-title">
                    Какие экзамены бывают
                </h2>

                <p class="page__item-text"> В России существует несколько типов экзаменов. Они различаются по уровню
                    сложности, сроку действия сертификата и целям.</p>

                <div class="page__item-wrapper">
                    <div class="exams swiper--height-item swiper--scroll-drag">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="exams__item">
                                    <p class="exams__title">
                                        Для краткосрочной работы
                                    </p>

                                    <div class="exams__content">
                                        <ul class="exams__list">
                                            <li>
                                                <p class="exams__list-title">Экзамен</p>

                                                <p class="exams__list-text">Патент</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Уровень знания языка</p>

                                                <p class="exams__list-text">Базовый (А2)</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Срок действия</p>

                                                <p class="exams__list-text">3 года</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Длительность экзамена</p>

                                                <p class="exams__list-text">80 минут</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Особенности</p>

                                                <p class="exams__list-text">Проверяют простые фразы, чтение, письмо</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="exams__item">
                                    <p class="exams__title">
                                        Для проживания
                                        <br> до 3 лет
                                    </p>

                                    <div class="exams__content">
                                        <ul class="exams__list">
                                            <li>
                                                <p class="exams__list-title">Экзамен</p>

                                                <p class="exams__list-text">РВП</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Уровень знания языка</p>

                                                <p class="exams__list-text">Средний (А2–B1)</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Срок действия</p>

                                                <p class="exams__list-text">3 года</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Длительность экзамена</p>

                                                <p class="exams__list-text">90 минут</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Особенности</p>

                                                <p class="exams__list-text">Нужно написать текст, знать Конституцию</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="exams__item">
                                    <p class="exams__title">
                                        Для долгосрочного проживания
                                    </p>

                                    <div class="exams__content">
                                        <ul class="exams__list">
                                            <li>
                                                <p class="exams__list-title">Экзамен</p>

                                                <p class="exams__list-text">ВНЖ/Гражданство</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Уровень знания языка</p>

                                                <p class="exams__list-text">Высокий (B1)</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Срок действия</p>

                                                <p class="exams__list-text">Бессрочно</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Длительность экзамена</p>

                                                <p class="exams__list-text">90 минут</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Особенности</p>

                                                <p class="exams__list-text">Проверяют знания на уровне гражданина РФ</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="exams__item">
                                    <p class="exams__title">
                                        Для учёбы
                                        <br>и работы
                                    </p>

                                    <div class="exams__content">
                                        <ul class="exams__list">
                                            <li>
                                                <p class="exams__list-title">Экзамен</p>

                                                <p class="exams__list-text">ТРКИ</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Уровень знания языка</p>

                                                <p class="exams__list-text">A1–C2</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Срок действия</p>

                                                <p class="exams__list-text">Бессрочно</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Длительность экзамена</p>

                                                <p class="exams__list-text">90 минут</p>
                                            </li>
                                            <li>
                                                <p class="exams__list-title">Особенности</p>

                                                <p class="exams__list-text">Международный стандарт</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page__item">
            <div class="container">
                <h2 class="page__item-title">
                    Что проверяют на экзамене?
                </h2>

                <div class="page__item-wrapper">
                    <div class="check">
                        <div class="check__content">
                            <div class="check__item">
                                <p class="check__title">
                                    <span>1.</span>
                                    Русский язык
                                </p>

                                <ul class="check__list">
                                    <li>Лексика и грамматика — правильно писать и говорить слова</li>
                                    <li>Говорение — вести простой диалог</li>
                                    <li>Аудирование — понимать речь на слух</li>
                                    <li>Письмо — заполнить анкету, написать небольшой текст</li>
                                    <li>Чтение — понимать объявления и тексты</li>
                                </ul>
                            </div>
                            <div class="check__item">
                                <p class="check__title">
                                    <span>2.</span>
                                    История России
                                </p>

                                <ul class="check__list">
                                    <li>Даты и события</li>
                                    <li>Символы РФ (флаг, герб, гимн)</li>
                                    <li>Известные личности</li>
                                </ul>
                            </div>
                            <div class="check__item">
                                <p class="check__title">
                                    <span>3.</span>
                                    Законодательство РФ
                                </p>

                                <ul class="check__list">
                                    <li>Конституция и власть</li>
                                    <li>Права и обязанности иностранцев</li>
                                    <li>Основы миграционного учёта</li>
                                </ul>
                            </div>
                        </div>

                        <div class="check__gallery">
                            <img src="./public/assets/img/check/image-1.webp" alt="Подготовка к экзамену" class="check__gallery-item">
                            <img src="./public/assets/img/check/image-2.webp" alt="Учебные материалы" class="check__gallery-item">
                            <img src="./public/assets/img/check/image-3.webp" alt="Экзаменационный процесс"
                                class="check__gallery-item">
                        </div>
                    </div>
                </div>

                <div class="page__item-btn">
                    <button class="btn btn--orange btn--page">
                        Начать подготовку к экзамену
                    </button>
                </div>
            </div>
        </section>


        <section class="page__item">
            <div class="container">
                <h2 class="page__item-title">
                    Сколько стоит экзамен?
                </h2>

                <p class="page__item-text">
                    Экзамены платные, но стоимость регулируется государством и едина по всей России.
                </p>

                <div class="page__item-wrapper">
                    <div class="price">
                        <div class="price__item">
                            <div class="price__img">
                                <img src="./public/assets/img/price/images-1.webp" alt="Экзамен на патент">
                            </div>

                            <p class="price__title">Экзамен на патент</p>

                            <div class="price__description">
                                <p class="price__number">3 800₽</p>

                                <p class="price__type">Фиксированная стоимость</p>
                            </div>
                        </div>
                        <div class="price__item">
                            <div class="price__img price__img--bottom">
                                <img src="./public/assets/img/price/images-2.webp" alt="Экзамен на патент">
                            </div>

                            <p class="price__title">Экзамен на РВП / ВНЖ</p>

                            <div class="price__description">
                                <p class="price__number">5 900₽</p>

                                <p class="price__type">Фиксированная стоимость</p>
                            </div>
                        </div>
                        <div class="price__item">
                            <div class="price__img">
                                <img src="./public/assets/img/price/images-3.webp" alt="Экзамен на патент">
                            </div>

                            <p class="price__title">ТРКИ (сертификационный экзамен)</p>

                            <div class="price__description">
                                <p class="price__number">от 5 000₽ до 6 150₽</p>

                                <p class="price__type">в зависимости от уровня знания языка</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="page__item">
            <div class="page__item-wrapper">
                <div class="failed">
                    <div class="failed__content">
                        <p class="failed__title">Что делать, если не сдали экзамен?</p>

                        <p class="failed__text">
                            Не переживайте — экзамен можно пересдать неограниченное количество раз. Но есть важные
                            правила:
                        </p>

                        <ol class="failed__list-ol">
                            <li>Частями пересдавать нельзя. Если вы не набрали 66% по одному разделу, придётся
                                пересдавать весь экзамен</li>
                            <li>Пересдача платная. Стоимость такая же, как при первой попытке (3800 ₽ или 5900 ₽).</li>
                            <li>Сроки зависят от статуса.</li>
                        </ol>

                        <ul class="failed__text-list-ul">
                            <li>Для патента экзамен нужно сдать в течение 90 дней после въезда. Если этого не сделать —
                                патент не выдадут, возможен штраф или запрет на въезд.</li>
                            <li>Для РВП и ВНЖ строгого срока пересдачи нет, но подать документы можно только при наличии
                                сертификата.</li>
                        </ul>

                        <p class="failed__text">
                            Чтобы избежать пересдачи, подготовьтесь заранее.
                        </p>

                        <p class="failed__text-big">
                            На платформе «На русском» вы можете пройти тест, получить личный план и потренироваться на
                            заданиях, похожих на реальные задания из экзамена.
                        </p>
                    </div>

                    <div class="failed__img">
                        <img src="/assets/img/failed/exam-failed.webp" alt="Подготовка к пересдаче">
                    </div>
                </div>
            </div>

            <div class="page__item-btn">
                <button class="btn">
                    Начать подготовку к экзамену
                </button>
            </div>
        </section> -->

    </main>

    <div class="page__item">
        <footer class="footer">
            <div class="container">
                <div class="page__item-color">
                    <div class="footer__container">
                        <div class="footer__header">
                            <div class="footer__header-left">
                                <a href="" class="footer__logo">
                                    <img src="./public/assets/svg/Logo-Footer.svg" alt="logo">
                                </a>

                                <p class="footer__slogan">
                                    Говорите с Россией на одном языке — <br>
                                    живите и работайте в России!
                                </p>
                            </div>

                            <ul class="footer__header-menu">
                                <li><a href="">Тренажер</a></li>
                                <li><a href="">Как сдать эказмен?</a></li>
                                <li><a href="">Жизнь в России</a></li>
                                <li><a href="">О проекте</a></li>
                            </ul>

                            <div class="footer__header-right">
                                <a href="" class="btn btn--base btn--white">Блог</a>

                                <a href="" class="btn btn--base btn--orange">Войти</a>
                            </div>
                        </div>

                        <div class="footer__content">
                            <p class="footer__content-tile">О проекте</p>

                            <p class="footer__content-text">
                                Материалы разработаны командой экспертов в области русского языка как иностранного и
                                специалистами в
                                области
                                дистанционного образования Национального исследовательского Томского государственного
                                университета
                                совместно с
                                EdTech-партнерами Enbisys (системы адаптивного обучения) и Palex (переводы и
                                локализация) при
                                государственной
                                поддержке Министерства науки и высшего образования Российской Федерации.
                            </p>
                        </div>

                        <div class="footer__footer">
                            <a href="" class="footer__link">Политика использования cookie-файлов</a>

                            <a href="" class="footer__link">Политика в отношении обработки персональных данных</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>




    <script type="module" src="/src/main.js"></script>
</body>

</html>
<!-- 2)
check
price
failed

-->