<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Name</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <link rel="stylesheet" href="./src/styles/main.scss">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__content">
        <a href="/" class="header__logo">
          <img src="./public/assets/svg/Logo.svg" alt="" width="117" height="32">
        </a>

        <menu class="header__menu" data-da=".header__phone-menu-wrapper,1023.98,0">
          <ul>
            <li>
              <a href="">Тренажер</a>
            </li>

            <li>
              <a href="">Жизнь в России</a>
            </li>

            <li>
              <a href="">О проекте</a>
            </li>

            <li>
              <a href="">Как сдать экзамен</a>
            </li>
          </ul>
        </menu>

        <div class="header__setting">
          <div class="header__lang" data-js-lang>
            <button class="header__lang-open btn" data-js-lang-btn>
              <span class="icon">
                <img src="./public/assets/svg/lang-Icon.svg" alt="world" width="18" height="18">
              </span>

              ru

              <span class="icon">
                <img src="./public/assets/svg/arrow.svg" alt="arrow" width="7" height="4">
              </span>
            </button>

            <div class="header__lang-wrapper" data-js-lang-wrapper>
              <div class="header__lang-content" data-js-lang-content>
                <ul>
                  <li>
                    <a href="">ENG</a>
                  </li>
                  <li>
                    <a href="">FN</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <button class="btn btn--base btn--orange">
            Войти
          </button>

          <div class="header__open-menu">
            <button class="btn btn--orange btn--phone" data-js-open-menu>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="header__phone-menu" data-js-menu-wrapper>
      <div class="header__phone-menu-wrapper" data-js-menu-content>
        <div class="header__phone-menu-footer">
          <button class="btn btn--orange btn--add-phone">Начать обучение</button>
          <button class="btn btn--white btn--add-phone">Войти</button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="page__item-first">
      <div class="hero">
        <div class="container">
          <div class="page__item-color">
            <div class="hero__container">

              <div class="hero__main">
                <h1 class="hero__title">
                  Говорите с Россией на одном языке
                </h1>

                <p class="hero__text">
                  Бесплатная обучающая платформа для изучения языка и адаптации в России при поддержке Министерства
                  науки и
                  высшего образования Российской Федерации
                </p>

                <button class="btn btn--orange btn--page">
                  Начать обучение
                </button>
              </div>

              <div class="hero__gallery">
                <div class="hero__gallery-content">
                  <img src="./public/assets/img/hero-gallery/Image-1.webp" width="132" height="132" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-2.webp" width="172" height="195" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-3.webp" width="132" height="132" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-4.webp" width="172" height="195" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-5.webp" width="132" height="132" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-6.webp" width="172" height="195" alt="people"
                    class="hero__gallery-item">
                  <img src="./public/assets/img/hero-gallery/Image-7.webp" width="132" height="132" alt="people"
                    class="hero__gallery-item">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__item page__item--wrapper">
      <div class="container">
        <h2 class="page__item-title">
          Русский язык — для всех
        </h2>

        <div class="page__item-wrapper">
          <div class="everyone swiper--height-item swiper--scroll-drag">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="everyone__item">
                  <img src="./public/assets/img/everyone/Image-1.webp" alt="Иностранным специалистам"
                    class="everyone__item-img" width="344" height="220">

                  <div class="everyone__item-content">
                    <p class="everyone__item-title">Иностранным специалистам</p>

                    <p class="everyone__item-text">Изучайте язык и готовьтесь к экзамену на патент, РВП, ВНЖ.</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="everyone__item">
                  <img src="./public/assets/img/everyone/Image-2.webp" alt="Студентам" class="everyone__item-img"
                    width="344" height="220">

                  <div class="everyone__item-content">
                    <p class="everyone__item-title">Студентам</p>

                    <p class="everyone__item-text">Поступайте в вузы и готовьтесь к учёбе на русском языке.</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="everyone__item">
                  <img src="./public/assets/img/everyone/Image-3.webp" alt="Туристам и гостям" class="everyone__item-img"
                    width="344" height="220">

                  <div class="everyone__item-content">
                    <p class="everyone__item-title">Туристам и гостям</p>

                    <p class="everyone__item-text">Погрузитесь в традиции и обычаи русского общества.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__item">
      <div class="container">
        <h2 class="page__item-title">
          Четыре простых шага для изучения русского языка
        </h2>

        <div class="page__item-wrapper">
          <div class="step">
            <div class="step__item">
              <div class="step__item-content">
                <p class="step__item-title">
                  <span>1.</span>

                  Регистрация
                </p>

                <p class="step__item-text">
                  Заполните простую форму и выберите язык интерфейса.
                </p>
              </div>

              <div class="step__item-img">
                <img src="./public/assets/img/step/Image-1.webp" alt="Регистрация">
              </div>
            </div>

            <div class="step__item">
              <div class="step__item-content">
                <p class="step__item-title">
                  <span>2.</span>

                  Определение уровня
                </p>

                <p class="step__item-text">
                  Пройдите тест и система сформирует индивидуальный план обучения.
                </p>
              </div>

              <div class="step__item-img">
                <img src="./public/assets/img/step/Image-2.webp" alt="Определение уровня">
              </div>
            </div>
            <div class="step__item">
              <div class="step__item-content">
                <p class="step__item-title">
                  <span>3.</span>

                  Обучение
                </p>

                <p class="step__item-text">
                  Изучайте курсы, выполняйте задания и отслеживайте прогресс.
                </p>
              </div>

              <div class="step__item-img">
                <img src="./public/assets/img/step/Image-3.webp" alt="Обучение">
              </div>
            </div>
            <div class="step__item">
              <div class="step__item-content">
                <p class="step__item-title">
                  <span>4.</span>

                  Практика
                </p>

                <p class="step__item-text">
                  Проверяйте свои знания в тренажёрах на реальных ситуациях из жизни.
                </p>
              </div>

              <div class="step__item-img">
                <img src="./public/assets/img/step/Image-4.webp" alt="Практика">
              </div>
            </div>
          </div>
        </div>

        <div class="page__item-btn">
          <button class="btn btn--orange btn--page">
            Начать учиться
          </button>
        </div>
      </div>
    </section>

    <section class="page__item">
      <div class="container">
        <h2 class="page__item-title">Выберите курс русского языка для вашей цели</h2>

        <div class="page__item-wrapper">
          <div class="tabs" data-js-tab>
            <div class="tabs__controller" data-js-tabs-list>
              <button class="btn tabs__controller-phone" data-js-tabs-list-open>
                <span data-js-tab-state>
                  Для жизни: начинающий
                </span>
                
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="14" viewBox="0 0 17 14" fill="none">
                    <path d="M14.1385 -1.75019e-07C15.85 -1.00207e-07 16.8709 1.90745 15.9215 3.3315L9.92545 12.3256C9.07726 13.5978 7.20771 13.5978 6.35952 12.3256L0.363485 3.3315C-0.585878 1.90745 0.434961 -7.74021e-07 2.14645 -6.99209e-07L14.1385 -1.75019e-07Z" fill="white"/>
                  </svg>
                </span>
              </button>

              <div class="tabs__controller-wrapper" data-js-tabs-list-wrapper>
                <div class="tabs__controller-content" data-js-tabs-list-content>
                  <button class="btn tabs__controller-item is-active" data-js-tab-btn>Для жизни: начинающий</button>
                  <button class="btn tabs__controller-item" data-js-tab-btn>Для жизни: продолжающий</button>
                  <button class="btn tabs__controller-item" data-js-tab-btn>Для учебы в университете</button>
                  <button class="btn tabs__controller-item" data-js-tab-btn>Для работы</button>
                </div>
              </div>
            </div>

            <div class="tabs__content">
              <div class="tabs__item is-active" data-js-tab-item>
                <ul class="tabs__item-tags">
                  <li>
                    <p>Уровень: начинающий</p>
                  </li>
                  <li>
                    <p>Интерактивные задания</p>
                  </li>
                  <li>
                    <p>Можно с телефона</p>
                  </li>
                </ul>

                <div class="tabs__item-top">
                  <div class="tabs__item-content">
                    <p class="tabs__item-title">
                      Начните говорить <br>с Россией на одном <br>языке!
                    </p>

                    <p class="tabs__item-text">
                      Научитесь понимать носителей <br>языка и решать бытовые задачи.
                    </p>
                  </div>
                </div>

                <div class="tabs__item-bottom">
                  <button class="btn btn--orange btn--page btn--per-100">
                    Начать
                  </button>
                </div>

                <img src="./public/assets/img/tabs/img-1.webp" alt="Курс для жизни — начинающий" class="tabs__item-img">
              </div>
              <div class="tabs__item" data-js-tab-item>
                <ul class="tabs__item-tags">
                  <li>
                    <p>Уровень: продолжающий</p>
                  </li>
                  <li>
                    <p>Интерактивные задания</p>
                  </li>
                  <li>
                    <p>Можно с телефона</p>
                  </li>
                </ul>

                <div class="tabs__item-top">
                  <div class="tabs__item-content">
                    <p class="tabs__item-title">
                      Продолжите изучение русского языка!
                    </p>

                    <p class="tabs__item-text">
                      Научитесь свободно выражать мысли и станете более уверенным в общении.
                    </p>
                  </div>
                </div>

                <div class="tabs__item-bottom">
                  <button class="btn btn--orange btn--page btn--per-100">
                    Начать
                  </button>
                </div>

                <img src="./public/assets/img/tabs/img-2.webp" alt="Курс для жизни — продолжающий"
                  class="tabs__item-img">
              </div>
              <div class="tabs__item" data-js-tab-item>
                <ul class="tabs__item-tags">
                  <li>
                    <p>Уровень: начинающий</p>
                  </li>
                  <li>
                    <p>Интерактивные задания</p>
                  </li>
                  <li>
                    <p>Можно с телефона</p>
                  </li>
                </ul>

                <div class="tabs__item-top">
                  <div class="tabs__item-content">
                    <p class="tabs__item-title">
                      Изучайте язык для учебы в России!
                    </p>

                    <p class="tabs__item-text">
                      Сможете слушать лекции на русском и изучать научные работы.
                    </p>
                  </div>
                </div>

                <div class="tabs__item-bottom">
                  <button class="btn btn--orange btn--page btn--per-100">
                    Начать
                  </button>
                </div>

                <img src="./public/assets/img/tabs/img-3.webp" alt="Курс для учебы в университете"
                  class="tabs__item-img">
              </div>
              <div class="tabs__item" data-js-tab-item>
                <ul class="tabs__item-tags">
                  <li>
                    <p>Уровень: начинающий</p>
                  </li>
                  <li>
                    <p>Интерактивные задания</p>
                  </li>
                  <li>
                    <p>Можно с телефона</p>
                  </li>
                </ul>

                <div class="tabs__item-top">
                  <div class="tabs__item-content">
                    <p class="tabs__item-title">
                      Изучайте язык для работы в России!
                    </p>

                    <p class="tabs__item-text">
                      Освоите базовую лексику и сможете устроиться на работу.
                    </p>
                  </div>
                </div>

                <div class="tabs__item-bottom">
                  <button class="btn btn--orange btn--page btn--per-100">
                    Начать
                  </button>
                </div>

                <img src="./public/assets/img/tabs/img-4.webp" alt="Курс для работы" class="tabs__item-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__item">
      <div class="container">
        <div class="page__item-wrapper">
          <div class="special">
            <div class="special__item">
              <p class="special__item-title">
                Индивидуальный план обучения для каждого ученика
              </p>

              <img src="./public/assets/img/special/Image-1.webp" alt="Индивидуальный план обучения" class="special__item-img">
            </div>

            <div class="special__item">
              <p class="special__item-title">
                Погружение в языковую<br> среду на реальных ситуациях
              </p>

              <img src="./public/assets/img/special/Image-4.webp" alt="Погружение в языковую среду" class="special__item-img">
            </div>

            <div class="special__item">
              <p class="special__item-title">
                Отслеживание прогресса<br> в личном кабинете
              </p>

              <img src="./public/assets/img/special/Image-2.webp" alt="Отслеживание прогресса" class="special__item-img">
            </div>

            <div class="special__item">
              <p class="special__item-title">
                Все курсы и материалы переведены на 10+ языков
              </p>

              <img src="./public/assets/img/special/Image-3.webp" alt="Курсы на 10+ языках" class="special__item-img">
            </div>

            <div class="special__item">
              <p class="special__item-title">
                Тренажер для подготовки к экзаменам на РВП, ВНЖ и патент
              </p>

              <img src="./public/assets/img/special/Image-5.webp" alt="Тренажер для подготовки к экзаменам" class="special__item-img">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__item">
      <div class="container">
        <div class="page__item-color page__item-color--main">
          <h2 class="page__item-title">
            Материалы
          </h2>

          <div class="page__item-wrapper">
            <div class="materials">
              <div class="materials__item">
                <img src="./public/assets/img/materials/Image-1.webp" alt="Узнайте больше о жизни в России" class="materials__item-img" width="559" height="260">

                <div class="materials__item-content">
                  <div class="materials__item-top">
                    <p class="materials__item-title">Узнайте больше о жизни в России</p>
                    <p class="materials__item-text">Изучайте материалы о культуре и быте России, которые помогут вам
                      быстрее адаптироваться в стране.</p>
                  </div>

                  <div class="materials__item-bottom">
                    <a href="/materials/life" class="btn btn--orange btn--page btn--per-100">
                      Читать
                    </a>
                  </div>
                </div>
              </div>
              <div class="materials__item">
                <img src="./public/assets/img/materials/Image-2.webp" alt="Экзамены: патент, РВП, ВНЖ" class="materials__item-img" width="559" height="260">

                <div class="materials__item-content">
                  <div class="materials__item-top">
                    <p class="materials__item-title">Всё про экзамены для получения патента, РВП и ВНЖ</p>
                    <p class="materials__item-text">Подробное руководство: что сдавать, сколько стоит, какие документы
                      нужны и как подготовиться.</p>
                  </div>

                  <div class="materials__item-bottom">
                    <a href="/materials/exam" class="btn btn--orange btn--page btn--per-100">
                      Подробнее об экзамене
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </section>

    <section class="page__item page__item--wrapper">
      <div class="container">

        <div class="page__item-header">
          <h2 class="page__item-title">
            Реальные истории учеников со всего мира
          </h2>

          <div class="history-controller controller-slider">
            <button class="btn btn--slider prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                <path
                  d="M14.8 6.69111C15.2419 6.69111 15.6 6.33294 15.6 5.89111C15.6 5.44929 15.2419 5.09111 14.8 5.09111L14.8 5.89111L14.8 6.69111ZM0.234363 5.32543C-0.0780567 5.63785 -0.0780568 6.14438 0.234363 6.4568L5.32553 11.548C5.63795 11.8604 6.14448 11.8604 6.4569 11.548C6.76932 11.2355 6.76932 10.729 6.4569 10.4166L1.93142 5.89111L6.4569 1.36563C6.76932 1.05321 6.76932 0.546678 6.4569 0.234258C6.14448 -0.0781612 5.63795 -0.0781613 5.32553 0.234258L0.234363 5.32543ZM14.8 5.89111L14.8 5.09111L0.800048 5.09111L0.800048 5.89111L0.800048 6.69111L14.8 6.69111L14.8 5.89111Z"
                  fill="#020202"></path>
              </svg>
            </button>

            <button class="btn btn--slider next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                <path d="M0.800049 6.69111C0.358221 6.69111 4.88548e-05 6.33294 4.88162e-05 5.89111C4.87776e-05 5.44929 0.358221 5.09111 0.800049 5.09111L0.800049 5.89111L0.800049 6.69111ZM15.3657 5.32543C15.6782 5.63785 15.6782 6.14438 15.3657 6.4568L10.2746 11.548C9.96215 11.8604 9.45562 11.8604 9.1432 11.548C8.83078 11.2355 8.83078 10.729 9.1432 10.4166L13.6687 5.89111L9.14319 1.36563C8.83078 1.05321 8.83078 0.546678 9.14319 0.234258C9.45561 -0.0781612 9.96215 -0.0781613 10.2746 0.234258L15.3657 5.32543ZM0.800049 5.89111L0.800049 5.09111L14.8 5.09111L14.8 5.89111L14.8 6.69111L0.800049 6.69111L0.800049 5.89111Z" fill="#020202"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="page__item-wrapper">
          <div class="history swiper--height-item swiper--pagination">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="history__item">
                  <div class="history__item-top">
                    <div class="history__item-header">
                      <img src="./public/assets/img/history/Avatar.webp" alt="Фото ученика" class="history__item-img">

                      <div class="history__item-header-content">
                        <p class="history__item-name">
                          Мухаммад 25 лет
                        </p>

                        <div class="history__item-country">
                          Таджикистан, Душанбе

                          <span>
                            <img src="./public/assets/svg/country.svg" alt="Флаг Таджикистана" width="17" height="11">
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="history__item-description">

                      <p class="history__item-description-text">
                        Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал
                        экзамен на патент с первого раза.
                      </p>

                    </div>
                  </div>

                  <div class="history__item-bottom">
                    <a href="/video/history-1.mp4" class="btn btn--open-video">
                      Смотреть видео-отзыв
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                          <g clip-path="url(#clip0_1_497)">
                            <path
                              d="M11 0C4.92495 0 0 4.92486 0 11C0 17.0751 4.92495 22 11 22C17.0751 22 22 17.0751 22 11C22 4.92486 17.0751 0 11 0ZM14.8019 11.5831L9.30187 15.0206C9.19777 15.0856 9.07817 15.1215 8.95548 15.1247C8.8328 15.1279 8.71149 15.0982 8.60415 15.0387C8.49682 14.9792 8.40737 14.8921 8.3451 14.7864C8.28282 14.6807 8.24998 14.5602 8.25 14.4375V7.5625C8.25 7.31242 8.38561 7.08245 8.60415 6.96128C8.71142 6.90156 8.83276 6.87173 8.95549 6.87492C9.07823 6.87811 9.19785 6.9142 9.30187 6.97941L14.8019 10.4169C15.0028 10.5428 15.125 10.763 15.125 11C15.125 11.237 15.0028 11.4572 14.8019 11.5831Z"
                              fill="#4E1BE0"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1_497">
                              <rect width="22" height="22" fill="white"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="history__item">
                  <div class="history__item-top">
                    <div class="history__item-header">
                      <img src="./public/assets/img/history/Avatar.webp" alt="Фото ученика" class="history__item-img">

                      <div class="history__item-header-content">
                        <p class="history__item-name">
                          Мухаммад 25 лет
                        </p>

                        <div class="history__item-country">
                          Таджикистан, Душанбе

                          <span>
                            <img src="./public/assets/svg/country.svg" alt="Флаг Таджикистана" width="17" height="11">
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="history__item-description">

                      <p class="history__item-description-text">
                        Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал
                        экзамен на патент с первого раза.
                      </p>
                      
                    </div>
                  </div>

                  <div class="history__item-bottom">

                    <button class="btn btn--open-review">
                      Развернуть отзыв
                    </button>

                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="history__item">
                  <div class="history__item-top">
                    <div class="history__item-header">
                      <img src="./public/assets/img/history/Avatar.webp" alt="Фото ученика" class="history__item-img">

                      <div class="history__item-header-content">
                        <p class="history__item-name">
                          Мухаммад 25 лет
                        </p>

                        <div class="history__item-country">
                          Таджикистан, Душанбе

                          <span>
                            <img src="./public/assets/svg/country.svg" alt="Флаг Таджикистана" width="17" height="11">
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="history__item-description">

                      <p class="history__item-description-text">
                        Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал экзамен на патент с первого раза. Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал экзамен на патент с первого раза. 
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="history__item history__item--short">
                  <div class="history__item-top">
                    <div class="history__item-header">
                      <img src="./public/assets/img/history/Avatar.webp" alt="Фото ученика" class="history__item-img">

                      <div class="history__item-header-content">
                        <p class="history__item-name">
                          Мухаммад 25 лет
                        </p>

                        <div class="history__item-country">
                          Таджикистан, Душанбе

                          <span>
                            <img src="./public/assets/svg/country.svg" alt="Флаг Таджикистана" width="17" height="11">
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="history__item-description">

                      <p class="history__item-description-text">
                        Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал экзамен на патент с первого раза. Мне нужен был русский для работы в строительной компании. Прошёл курс “Русский для работы” и сдал экзамен на патент с первого раза. 
                      </p>
                      
                    </div>
                  </div>

                  <div class="history__item-bottom">

                    <button class="btn btn--open-review">
                      Развернуть отзыв
                    </button>

                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </section>

    <section class="page__item">
      <div class="container">
        <h2 class="page__item-title">
          Ответы на частые вопросы
        </h2>

        <div class="page__item-wrapper">
          <div class="answers" data-js-answers>
            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Нужно ли сдавать экзамен для работы или учёбы в России?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>

            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Сколько стоит экзамен и где его сдавать?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>

            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Что делать, если я не сдал экзамен?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>

            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Как найти работу в России?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>

            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Как получить медицинскую помощь?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>

            <div class="answers__item" data-js-answers-item>
              <div class="answers__item-header">
                <p class="answers__item-title">Где познакомиться и найти друзей в России?</p>

                <button class="btn btn--answers" data-js-answers-btn>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none">
                    <path
                      d="M4.45479 12.7002C4.45479 13.0868 4.76819 13.4002 5.15479 13.4002C5.54138 13.4002 5.85479 13.0868 5.85479 12.7002L5.15479 12.7002L4.45479 12.7002ZM5.64976 0.20522C5.37639 -0.0681465 4.93318 -0.0681465 4.65981 0.20522L0.205038 4.65999C-0.0683291 4.93336 -0.0683291 5.37658 0.205038 5.64994C0.478405 5.92331 0.92162 5.92331 1.19499 5.64994L5.15479 1.69014L9.11458 5.64994C9.38795 5.92331 9.83117 5.92331 10.1045 5.64994C10.3779 5.37658 10.3779 4.93336 10.1045 4.65999L5.64976 0.20522ZM5.15479 12.7002L5.85479 12.7002L5.85479 0.700195L5.15479 0.700195L4.45479 0.700195L4.45479 12.7002L5.15479 12.7002Z"
                      fill="#020202"></path>
                  </svg>
                </button>
              </div>

              <div class="answers__item-wrapper" data-js-answers-wrapper>
                <p class="answers__item-content" data-js-answers-content>
                  Да, для работы нужен комплексный экзамен (русский, история, право), для учёбы — экзамен ТРКИ. Подробнее
                  о типах экзаменов и как подготовиться к ним — <a href="link">читайте здесь</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <div class="page__item">
    <footer class="footer">
      <div class="container">
        <div class="page__item-color">
          <div class="footer__container">
            <div class="footer__header">
              <div class="footer__header-left">
                <a href="" class="footer__logo">
                  <img src="./public/assets/svg/Logo-Footer.svg" alt="logo">
                </a>

                <p class="footer__slogan">
                  Говорите с Россией на одном языке — <br>
                  живите и работайте в России!
                </p>
              </div>

              <ul class="footer__header-menu">
                <li><a href="">Тренажер</a></li>
                <li><a href="">Как сдать эказмен?</a></li>
                <li><a href="">Жизнь в России</a></li>
                <li><a href="">О проекте</a></li>
              </ul>

              <div class="footer__header-right">
                <a href="" class="btn btn--base btn--white">Блог</a>

                <a href="" class="btn btn--base btn--orange">Войти</a>
              </div>
            </div>

            <div class="footer__content">
              <p class="footer__content-tile">О проекте</p>

              <p class="footer__content-text">
                Материалы разработаны командой экспертов в области русского языка как иностранного и специалистами в
                области
                дистанционного образования Национального исследовательского Томского государственного университета
                совместно с
                EdTech-партнерами Enbisys (системы адаптивного обучения) и Palex (переводы и локализация) при
                государственной
                поддержке Министерства науки и высшего образования Российской Федерации.
              </p>
            </div>

            <div class="footer__footer">
              <a href="" class="footer__link">Политика использования cookie-файлов</a>

              <a href="" class="footer__link">Политика в отношении обработки персональных данных</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script type="module" src="/src/main.js"></script>
</body>

</html>