<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="./src/styles/main.scss">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a href="/" class="header__logo">
                    <img src="./public/assets/svg/Logo.svg" alt="" width="117" height="32">
                </a>

                <menu class="header__menu" data-da=".header__phone-menu-wrapper,1023.98,0">
                    <ul>
                        <li>
                            <a href="">Тренажер</a>
                        </li>

                        <li>
                            <a href="">Жизнь в России</a>
                        </li>

                        <li>
                            <a href="">О проекте</a>
                        </li>

                        <li>
                            <a href="">Как сдать экзамен</a>
                        </li>
                    </ul>
                </menu>

                <div class="header__setting">
                    <div class="header__lang" data-js-lang>
                        <button class="header__lang-open btn" data-js-lang-btn>
                            <span class="icon">
                                <img src="./public/assets/svg/lang-Icon.svg" alt="world" width="18" height="18">
                            </span>

                            ru

                            <span class="icon">
                                <img src="./public/assets/svg/arrow.svg" alt="arrow" width="7" height="4">
                            </span>
                        </button>

                        <div class="header__lang-wrapper" data-js-lang-wrapper>
                            <div class="header__lang-content" data-js-lang-content>
                                <ul>
                                    <li>
                                        <a href="">ENG</a>
                                    </li>
                                    <li>
                                        <a href="">FN</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn--base btn--orange">
                        Войти
                    </button>

                    <div class="header__open-menu">
                        <button class="btn btn--orange btn--phone" data-js-open-menu>
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__phone-menu" data-js-menu-wrapper>
            <div class="header__phone-menu-wrapper" data-js-menu-content>
                <div class="header__phone-menu-footer">
                    <button class="btn btn--orange btn--add-phone">Начать обучение</button>
                    <button class="btn btn--white btn--add-phone">Войти</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="page__item-first">
            <div class="hero-next hero-next--long">
                <div class="container">
                    <div class="hero-next__container">

                        <div class="hero-next__main">
                            <h1 class="hero-next__title">
                                Культурный код России<br> Что это такое?
                            </h1>

                            <p class="hero-next__text">
                                Здесь вы сможете прочитать и понять, что представляют из себя культура, традиции и обычаи такой большой и многонациональной страны, как Россия
                            </p>
                        </div>

                        <img src="./public/assets/img/long/one/hero.png" alt="" class="hero-next__img">

                    </div>
                </div>
            </div>
        </section>

        <section class="container container--wrapper-phone">
            <div class="long-item long-item--phone-none">
                <div class="long-links">
                    <p class="long-links__title">
                        Навигация по странице:
                    </p>

                    <div class="long-links__main no-scroll">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Обычаи и традиции</a>
                            </div>

                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Литература и искусство</a>
                            </div>

                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Фольклор</a>
                            </div>

                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Народный костюм</a>
                            </div>

                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Национальная кухня</a>
                            </div>

                            <div class="swiper-slide">
                                <a href="" class="long-links__item">Повседневные традиции</a>
                            </div>
                        </div>
                        
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="page__item--wrapper">
            <div class="container">
                <div class="long-item">

                    <section class="page__item-color">
                        <div class="long-color long-color--50">
                            <div class="long-color__text">
                                <h3 class="long-title long-title--small">
                                    Россия — огромная страна с многонациональным и многоконфессиональным населением.
                                </h3>

                                <p class="long-text">На культурный код повлияли тысячи лет истории и множество традиций разных национальностей, живших бок о бок на территории России. Культура России — сложная и многогранная тема, она имеет исторические корни и тесно связана с традициями и обычаями, которые передавались из поколения в поколение.</p>
                                <p class="long-text">В этом тексте мы расскажем о русской культуре, которая, может быть, не знакома тем, кто только приехал в нашу страну и хотел бы узнать ее поближе. «Культурный код» — понятие, которое включает в себя множество смыслов, давайте подробнее остановимся на каждом из них.</p>
                            </div>

                            <img src="./public/assets/img/long/one/color-1.png" alt="" class="long-color__img">
                        </div>
                    </section>

                    <section class="long-block">
                        <h3 class="long-title">
                            Обычаи и традиции
                        </h3>

                        <div class="long-border">
                            <div class="long-border__text">
                                <p class="long-text-bold">
                                    Праздники, обряды и их особенности
                                </p>

                                <p class="long-text-big">
                                    Погрузиться в тему культуры и лучше понять русский характер нам поможет знакомство с обычаями и традициями. Что же это такое? Это та часть повседневной жизни народа, которая передается из поколения в поколение, формирует неповторимый облик нации и ее культурное наследие.
                                </p>
                            </div>

                            <div class="long-slider swiper--height-item swiper--pagination">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-1.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-2.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-3.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-1.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-2.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/holidays/image-3.png" alt="" class="long-slider__item">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                            
                        </div>

                        <div class="long-border">
                            <div class="long-border__text">
                                <p class="long-text-bold">
                                    Русское гостеприимство
                                </p>

                                <p class="long-text-big">
                                    Гостеприимство — это одна из самых ярких и привлекательных черт русского народа. Оно проявляется в готовности принять и накормить гостей, в дружелюбии и открытости по отношению к гостям. Традиции и обычаи русского гостеприимства уходят корнями в глубокую древность.
                                </p>

                                <p class="long-text-big">
                                    Русские всегда приглашают гостей в дом, это подчеркивает национальную черту гостеприимства, открытости и теплоты. Принято встречать гостей у самого порога и провожать их за стол. Русское застолье — это всегда щедрое мероприятие, после которого все должны остаться сытыми и довольными. У каждой хозяйки есть свои фирменные рецепты, которые передаются следующим поколениям в семье. Во время каждого из праздничных застолий гости и хозяева произносят тосты в честь друг друга и за здоровье всех присутствующих. Русские часто приглашают в гости друзей и родственников по праздничным поводам и даже без них.
                                </p>

                                <p class="long-text-big">
                                    Одной из русских традиций является обязательное празднование религиозных и светских праздников, которые слились в единое целое за годы истории. Самые популярные праздники в России сейчас — это Новый Год (1 января), Рождество Христово (7 января), Масленица, Пасха, День защитника Отечества (23 февраля), Международный женский день (8 марта), День Победы (9 мая), День России (12 июня).
                                </p>
                            </div>

                            <div class="long-slider swiper--height-item swiper--pagination">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-1.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-2.png" alt="" class="long-slider__item">
                                    </div>
                                    
                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-3.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-1.png" alt="" class="long-slider__item">
                                    </div>

                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-2.png" alt="" class="long-slider__item">
                                    </div>
                                    
                                    <div class="swiper-slide">
                                        <img src="./public/assets/img/long/one/hospitality/image-3.png" alt="" class="long-slider__item">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>
                            </div>
                            
                        </div>
                    </section>

                    <section class="long-block">
                        <div class="long-video">
                            <video src="./public/assets/video/video.mp4" ></video>

                            <div class="long-video__banner">
                                <button class="long-video__banner-button btn">
                                    <img src="./public/assets/svg/play.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </section>

                    <section class="long-block long-block--gap-48">
                        <h3 class="long-title">
                            Семейные традиции и обряды
                        </h3>

                        <div class="long-block-text">
                            <img src="./public/assets/img/long/one/family.png" alt="" class="long-block-text__img">
                            
                            <p class="long-block-text__text long-text long-text--small">
                                В России почитаются и соблюдаются семейные традиции, они укрепляют родственные связи. Обряды, которые сопровождают семейные традиции, прочно вошли в повседневную жизнь и несут особую роль: помогают чувствовать себя защищенным в семейном кругу и уверенным в завтрашнем дне. Самые популярные обряды, которые сопровождают семейные традиции в современной России, связаны со свадьбами, рождением детей и крестинами (обрядом крещения).
                            </p>
                        </div>

                        <div class="long-border">
                            <div class="long-border__text">
                                <p class="long-text-bold">
                                    Свадьба
                                </p>

                                <p class="long-text-big">
                                    Русская свадьба обычно празднуется широко, многолюдно и занимает минимум два дня. Принято приглашать родственников и друзей молодоженов и собираться за общим веселым застольем. По традиции в начале торжества жених и невеста откусывают по кусочку от каравая, который испекла мать невесты, в знак крепкого и счастливого брака. Кроме того, такая традиция позволяет определить, кто будет главенствовать в семье, по размеру откушенных молодоженами кусочков.
                                </p>
                            </div>

                            <img src="./public/assets/img/long/one/wedding.png" alt="" class="long-img">
                        </div>

                        <div class="long-border">
                            <div class="long-border__text">
                                <p class="long-text-bold">
                                    Обряд крещения
                                </p>

                                <p class="long-text-big">
                                    Рождение ребенка в православных семьях сопровождается обрядом крещения. Часто детей крестят в раннем возрасте до двух лет. Обряд таинства проходит в церкви, где вместе с родителями ребенка присутствуют крестные родители и самые близкие родственники.
                                </p>

                                <p class="long-text-big">
                                    Батюшка окунает ребенка в купель и читает молитвы, благословляющие жизненный путь. Считается, что крестные родители после обряда становятся ребенку, его семье и друг другу родней.
                                </p>
                            </div>
                            
                            <img src="./public/assets/img/long/one/baptism.png" alt="" class="long-img">
                        </div>
                    </section>
                    
                    <div class="long-block">
                        <div class="page__item-color">
                            <div class="long-color long-color--60">
                                <div class="long-color__text">
                                    <h3 class="long-title long-title--small">
                                        Россия — светское государство, и ни одна из религий не главенствует над другой.
                                    </h3>

                                    <p class="long-text">Наиболее многочисленной конфессией является православие — почти 75 % верующих принадлежат к этой религии.</p>
                                </div>

                                <img src="./public/assets/img/long/one/secular-state.png" alt="" class="long-color__img">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        
    </main>

    <div class="page__item">
        <footer class="footer">
            <div class="container">
                <div class="page__item-color">
                    <div class="footer__container">
                        <div class="footer__header">
                            <div class="footer__header-left">
                                <a href="" class="footer__logo">
                                    <img src="./public/assets/svg/Logo-Footer.svg" alt="logo">
                                </a>

                                <p class="footer__slogan">
                                    Говорите с Россией на одном языке — <br>
                                    живите и работайте в России!
                                </p>
                            </div>

                            <ul class="footer__header-menu">
                                <li><a href="">Тренажер</a></li>
                                <li><a href="">Как сдать эказмен?</a></li>
                                <li><a href="">Жизнь в России</a></li>
                                <li><a href="">О проекте</a></li>
                            </ul>

                            <div class="footer__header-right">
                                <a href="" class="btn btn--base btn--white">Блог</a>

                                <a href="" class="btn btn--base btn--orange">Войти</a>
                            </div>
                        </div>

                        <div class="footer__content">
                            <p class="footer__content-tile">О проекте</p>

                            <p class="footer__content-text">
                                Материалы разработаны командой экспертов в области русского языка как иностранного и
                                специалистами в
                                области
                                дистанционного образования Национального исследовательского Томского государственного
                                университета
                                совместно с
                                EdTech-партнерами Enbisys (системы адаптивного обучения) и Palex (переводы и
                                локализация) при
                                государственной
                                поддержке Министерства науки и высшего образования Российской Федерации.
                            </p>
                        </div>

                        <div class="footer__footer">
                            <a href="" class="footer__link">Политика использования cookie-файлов</a>

                            <a href="" class="footer__link">Политика в отношении обработки персональных данных</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script type="module" src="/src/main.js"></script>
</body>

</html>