@use '../helpers' as *;

.author{
    &-start{
        margin-top: fluid(103, 72);
        margin-bottom: rem(96);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);

        &__item{
            padding: rem(16);

            background-color: var(--Background-White);
            border-radius: var(--border-radius-24);

            display: flex;
            align-items: center;
            gap: fluid(32, 16);

            &-img{
                @include square(rem(144));

                border-radius: var(--border-radius-24);
            }

            &-content{
                display: flex;
                flex-direction: column;
                gap: rem(24);
            }
            &-top{
                display: flex;
                flex-direction: column;
                gap: rem(8);
            }
            &-bottom{
                display: flex;
            }

            &-name{
                text-decoration: none;

                font-size: rem(20);
                font-weight: 500;
                line-height: 145%;

                color: var(--Text-Black);
            }
            &-job{
                font-size: rem(16);
                line-height: 155%;
                color: var(--Text-Grey);
            }
            &-link{
                text-decoration: none;

                padding: rem(8) rem(16);

                background: var(--Background-Body);
                border-radius: var(--border-radius-8);

                display: flex;
                align-items: center;
                gap: rem(8);

                font-size: rem(14);
                line-height: 135%;
                color: var(--Text-Grey);

                & > span{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                @include hover{
                    color: var(--Text-Orange);

                    & > span > svg *{
                        fill: var(--Text-Orange);
                    }
                }
            }
        }

        @include tablet{
            &__item{
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                text-align: center;

                &-content{
                    width: 100%;
                    height: 100%;
                }
                &-top{
                    height: 100%;
                }

                &-link{
                    width: 100%;

                    padding: rem(16);

                    justify-content: center;
                }
            }
        }

        @include mobile{
            grid-template-columns: 1fr;
        }
    }
}