@use '../helpers' as *;

.blog{
    &__catalog{
        margin-top: fluid(96, 72);

        &-header{
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: rem(10);

            &-link{
                flex-shrink: 0;

                text-decoration: none;

                padding: rem(8) rem(24);

                background-color: var(--Background-Blue);
                border-radius: var(--border-radius-8);

                font-weight: 600;
                line-height: 145%;
                color: var(--Text-White);

                transition: var(--transition);

                @include hover{
                    opacity: .8;
                }
            }
        }

        &-tags{
            &-button{
                display: none;
            }

            &-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: rem(8);
            }

            &-item{
                &:nth-child(n + 6){
                    display: none;
                }

                display: inline-block;
                text-decoration: none;

                padding: rem(8) rem(16);

                line-height: 155%;

                background-color: var(--Background-White);
                border-radius: rem(96);

                color: var(--Text-Black);
                line-height: 155%;

                transition: var(--transition);

                @include hover{
                    color: var(--Text-Orange);
                }

                &.active{
                    background-color: var(--Background-Blue);
                    color: var(--Text-White);

                    @include hover{
                        opacity: .8;
                    }
                }

                &--close{
                    padding: rem(7) rem(15);

                    background: none;
                    border: rem(1) solid var(--Background-Grey-e7);
                }
            }

            &-add{
                display: none;
            }

            &.show{
                .blog__catalog-tags{
                    &-item{
                        &:nth-child(n + 6){
                            display: block;
                        }
                        &:nth-child(5){
                            display: none;
                        }
                    }
                }
            }
        }

        &-content{
            margin-top: fluid(40, 24);

            display: flex;
            flex-wrap: wrap;
            gap: rem(20);
        }

        &-item{
            width: calc(33.33% - rem(13.33));

            padding: rem(16);

            background-color: var(--Background-White);
            border-radius: var(--border-radius-24);

            display: flex;
            flex-direction: column;
            gap: rem(16);

            &-img{
                flex-shrink: 0;

                width: 100%;
                height: rem(220);

                border-radius: var(--border-radius-20);

                object-fit: cover;
                object-position: top;
            }

            &-content{
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: rem(16);

                &-top{
                    padding: 0 rem(8);

                    display: flex;
                    flex-direction: column;
                    gap: rem(16);
                }
                &-bottom{
                    padding-left: rem(8);

                    position: relative;
                    padding-top: rem(16);

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &::before{
                        content: '';

                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 1px;

                        background-color: var(--Background-Grey-e8);
                    }
                }
            }

            &-brief{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: rem(10);

                &-left{
                    display: flex;
                    align-items: center;
                    gap: rem(16);
                }
                &-right{
                    display: flex;
                    align-items: center;
                    gap: rem(16);
                }

                &-item{
                    display: flex;
                    align-items: center;
                    gap: rem(8);

                    &-icon{
                        @include square(rem(16));
                    }

                    &-text{
                        font-size: rem(14);
                        line-height: 135%;
                    }
                }
            }

            &-title{
                font-size: rem(20);
                font-weight: 500;
                line-height: 145%;
            }

            &-people{
                text-decoration: none;

                display: flex;
                align-items: center;
                gap: rem(8);

                &-icon{
                    @include square(rem(32));

                    border-radius: 50%;

                    object-fit: cover;
                }

                &-text{
                    font-size: rem(14);
                    line-height: 135%;

                    color: var(--Text-Grey);
                }

                transition: var(--transition);

                *{
                    transition: var(--transition);
                }

                @include hover{
                    .blog__catalog-item-people-icon{
                        opacity: .8;
                    }

                    .blog__catalog-item-people-text{
                        color: var(--Text-Orange);
                    }
                }
            }

            &-open{
                text-decoration: none;

                padding: rem(4) rem(16);

                background-color: var(--Background-Grey-e6);
                border-radius: var(--border-radius-8);

                color: var(--Text-Grey);

                display: flex;
                align-items: center;
                gap: rem(8);

                .icon{
                    display: flex;
                    justify-items: center;
                    align-items: center;
                }

                transition: var(--transition);

                *{
                    transition: var(--transition);
                }

                @include hover{
                    color: var(--Text-Orange);

                    & svg *{
                        fill: var(--Text-Orange);
                    }
                }
            }
        }
    }

    @include tablet{
        &__catalog-item{
            width: calc(50% - rem(10));
        }
    }

    @include mobile{
        &__catalog{
            &-header{
                flex-direction: column-reverse;
                gap: rem(24);

                &-link{
                    width: 100%;

                    padding: rem(16);
                    
                    border-radius: var(--border-radius-16);

                    text-align: center;
                }
            }

            &-tags{
                width: 100%;

                display: flex;
                flex-direction: column;
                gap: rem(8);                

                &-button{
                    display: block;

                    padding: rem(16) rem(24);

                    background-color: var(--Background-White);
                    border-radius: var(--border-radius-16);

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    font-weight: 500;
                    line-height: 145%;

                    .show &{
                        & > span{
                            transform: rotate(180deg);
                        }
                    }
                }

                &-wrapper{
                    display: none;

                    width: 100%;

                    padding: rem(24);

                    background-color: var(--Background-White);
                    border-radius: var(--border-radius-16);

                    flex-direction: column;
                    gap: rem(16);
                }

                &-item{
                    width: 100%;

                    padding: 0;

                    &.active{
                        background-color: var(--Background-White);
                        color: var(--Text-Orange);
                    }

                    &:nth-child(n + 6){
                        display: block;
                    }

                    &:nth-child(5),
                    &:last-child{
                        display: none;
                    }
                }

                &.show{
                    .blog__catalog-tags-wrapper{
                        display: flex;
                    }

                    .blog__catalog-tags-item{
                        &:nth-child(5),
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
        }

        &__catalog-item{
            width: 100%;

            &-img{
                height: 56.6vw;
            }
        }
    }

    &__hero{
        position: relative;

        margin-top: rem(8);

        padding-top: rem(128);

        &::after{
            content: '';

            z-index: -10;
            position: absolute;
            top: 0;
            left: rem(-95);

            width: calc(100% + rem(95) * 2);
            height: 100%;

            height: rem(385);

            border-radius: var(--border-radius-24);
            background-color: var(--Background-Blue);

            background-image: url(../images/svg/Background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .breadcrumbs{
            font-size: rem(14);
        }

        &-container{
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }

        &-banner{
            position: relative;

            border-radius: var(--border-radius-16);
            overflow: hidden;

            background: var(--Gradient-Blue-Banner);

            &-img{
                z-index: -9;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                object-fit: cover;
            }
            &-content{
                padding: rem(48);

                height: rem(540);

                display: flex;
                align-items: end;

                font-size: rem(64);
                font-weight: 600;
                line-height: 115%;
                color: var(--Text-White);
            }
        }
    }

    &__content{
        margin-top: rem(24);

        padding: rem(24) rem(48) rem(48) rem(48);

        background: var(--Background-White);
        border-radius: var(--border-radius-16);

        .long-video{
            margin: rem(24) 0;

            video{
                height: auto !important;
            }

            .long-video__banner-img{
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }

    &__header{
        padding: 0 rem(8) rem(23) rem(8);

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid var(--Background-Grey-e8);
    }
    &__meta{
        display: flex;
        align-items: center;
        gap: rem(24);

        &-item{
            display: flex;
            align-items: center;
            gap: rem(8);

            & > span:first-child{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            font-size: rem(14);
            line-height: 135%;
        }
    }

    &__author{
        margin-top: rem(32);

        display: flex;
        align-items: center;
        gap: rem(16);

        &-img{
            @include square(rem(76));
            border-radius: 50%;
        }

        &-content{
            display: flex;
            flex-direction: column;
            gap: rem(4);
        }
        &-fio{
            font-size: rem(20);
            font-weight: 500;
            line-height: 145%;
        }
        &-job{
            font-size: rem(16);
            line-height: 155%;
            color: var(--Text-Grey);
        }
    }

    &__page{
        margin-top: rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: rem(16);

        font-size: rem(16);
        line-height: 155%;

        span, b{
            font-weight: 600;
            line-height: 145%;

            a{
                font-weight: 600;
                line-height: 145%;
            }
        }

        i{
            font-style: italic;
            font-weight: 500;
        }

        a{
            color: var(--Background-Blue);

            @include hover{
                opacity: .8;
            }
        }

        h2{
            margin-top: rem(16);
            margin-bottom: rem(8);

            font-size: rem(36);
            font-weight: 600;
            line-height: 125%;
        }
        h3{
            margin-top: rem(16);
            margin-bottom: rem(8);

            font-size: rem(24);
            font-weight: 600;
            line-height: 145%;
        }
        h4{
            margin-top: rem(16);
            margin-bottom: rem(8);

            font-size: rem(20);
            font-weight: 600;
            line-height: 145%;
        }
    }

    &__ul{
        list-style-type: none;

        padding: rem(8) rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(8);

        li{
            position: relative;

            padding-left: rem(22);

            font-size: rem(16);
            font-weight: 400;
            line-height: 155%;

            &::before{
                @include square(rem(10));

                content: '';

                position: absolute;
                top: rem(7.5);
                left: 0;

                background: var(--background-orange);
                border-radius: var(--border-radius-3);
            }
        }
    }

    &__ol{
        list-style-type: none;
        counter-reset: item;

        padding: rem(8.5) rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(9);

        li{
            padding: rem(0.5) 0;

            counter-increment: item;
            position: relative;

            padding-left: rem(38);

            &::before{
                @include square(rem(26));

                content: counter(item);
                position: absolute;
                top: rem(-1);
                left: 0;

                background: var(--background-orange);
                border-radius: var(--border-radius-5-2);

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: rem(14);
                font-weight: 700;
                line-height: 135%; 
                color: var(--Text-White);
            }

            font-size: rem(16);
            line-height: 155%;
        }
    }

    &__alert{
        margin: rem(16) 0;

        padding: rem(32);

        display: flex;
        align-items: center;
        gap: rem(32);

        &-icon{
            @include square(rem(42));
        }

        &-text{
            font-size: rem(16);
            line-height: 155%;
        }

        border-radius: var(--border-radius-20);

        &--yellow{
            background-color: var(--Background-Yellow);
        }
        &--green{
            background-color: var(--Background-Green);
        }
    }

    &__figure{
        margin: rem(24) 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);

        img{
            max-width: 100%;

            border-radius: var(--border-radius-16);
        }

        figcaption{
            font-size: rem(16);
            font-style: italic;
            line-height: 155%; 
        }
    }

    @include laptop{
        &__hero{
            &::after{
                left: calc(var(--container-padding-x) * -1);

                width: calc(100% + var(--container-padding-x) * 2);
            }
        }
    }

    @include mobile{
        &__hero{
            margin: 0;
            padding-top: rem(128);

            &::after{
                top: rem(-8);

                height: rem(296);

                border-radius: 0 0 var(--border-radius-24) var(--border-radius-24);
            }

            .breadcrumbs{
                line-height: 135%;
            }

            &-banner{
                &-content{
                    height: rem(325);

                    padding: rem(24);

                    font-size: rem(32);
                    font-weight: 700;
                    line-height: 115%;
                }
            }
        }

        &__content{
            padding: rem(24);

            .long-video{
                margin: rem(16) 0;
            }
        }

        &__header{
            padding: 0 0 rem(15) 0;

            border-bottom: 1px solid var(--Background-Grey-e8);
        }
        &__meta{
            gap: rem(16);

            &-item{
                & > span:first-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: rem(16);
                    }
                }

                font-size: rem(12);
                line-height: 135%;
            }
        }

        &__author{
            margin-top: rem(24);

            &-img{
                @include square(rem(55));
            }

            &-content{
                display: flex;
                flex-direction: column;
                gap: rem(4);
            }
            &-fio{
                font-size: rem(16);
                font-weight: 500;
                line-height: 145%;
            }
            &-job{
                font-size: rem(14);
                font-weight: 400;
                line-height: 135%;
            }
        }

        &__page{
            margin-top: rem(24);

            gap: rem(8);
        }

        &__text{
            gap: rem(8);

            font-size: rem(16);
            line-height: 155%;

            span, b{
                font-weight: 600;
                line-height: 145%;

                a{
                    font-weight: 600;
                    line-height: 145%;
                }
            }

            i{
                font-style: italic;
                font-weight: 500;
            }

            a{
                color: var(--Background-Blue);

                @include hover{
                    opacity: .8;
                }
            }

            h2{
                margin-top: rem(8);
                margin-bottom: rem(4);

                font-size: rem(24);
                font-weight: 600;
                line-height: 145%;
            }
            h3{
                margin-top: rem(8);
                margin-bottom: rem(4);

                font-size: rem(20);
                font-weight: 600;
                line-height: 145%;
            }
            h4{
                margin-top: rem(16);
                margin-bottom: rem(8);

                font-size: rem(20);
                font-weight: 600;
                line-height: 145%;
            }
        }

        &__ul{
            list-style-type: none;

            padding: rem(8) rem(16);

            li{
                position: relative;

                padding-left: rem(22);

                font-size: rem(16);
                font-weight: 400;
                line-height: 155%;
            }
        }

        &__ol{
            padding: rem(8) rem(16);
        }

        &__alert{
            padding: rem(24);

            flex-direction: column;
            align-items: start;
            gap: rem(16);

            &-icon{
                @include square(rem(32));
            }

            &-text{
                font-size: rem(16);
                line-height: 155%;
            }

            border-radius: var(--border-radius-20);

            &--yellow{
                background-color: var(--Background-Yellow);
            }
            &--green{
                background-color: var(--Background-Green);
            }
        }

        &__figure{
            img{
                width: 100%;
                height: 63vw;

                object-fit: cover;
            }

            figcaption{
                font-size: rem(16);
                font-style: italic;
                line-height: 155%; 
            }
        }
    }
}