@use '../helpers' as *;

.check{
    display: flex;
    gap: rem(20);

    &__content{
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: rem(8);
    }
    &__item{
        padding: rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(24);

        border-radius: var(--border-radius-24);
        background-color: var(--Background-White);
    }
    &__title{
        font-size: rem(20);
        font-weight: 600;
        line-height: 145%;


        & span{
            color: var(--Text-Grey-bb);
        }
    }
    &__list{
        list-style-type: none;

        padding-left: rem(32);

        display: flex;
        flex-direction: column;
        gap: rem(16);

        & > li{
            position: relative;

            display: flex;

            line-height: 155%;

            & > span{
                font-weight: 500;
            }

            &::before{
                @include square(rem(22.5));

                content: '';

                position: absolute;
                top: calc(50% - rem(11.25));
                left: rem(-31.25);

                background-image: url(../images/svg/check.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &__gallery{
        flex-shrink: 0;

        width: rem(476);

        padding: rem(6);

        display: flex;
        flex-direction: column;
        gap: rem(8);

        border: 2px solid var(--Background-White);
        border-radius: var(--border-radius-20);

        &-item{
            width: 100%;
            height: rem(246);

            height: calc(33.3% - rem(5.33));
            border-radius: var(--border-radius-12);
            object-fit: cover;
            object-position: center;
        }
    }

    @include tablet{
        flex-direction: column;

        &__gallery{
            width: 100%;



            &-item{
                height: 48vw;

                &:not(:last-child){
                    display: none;
                }
            }
        }
    }

    @include mobile{
        &__item{
            padding: rem(24);

            gap: rem(16);
        }
        &__title{
            
        }
        &__list{
        }
    }
}