@use '../helpers' as *;

.creates{
    display: flex;
    gap: rem(20);

    &__main{
        width: calc(50% - rem(10));

        padding: rem(32);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-12);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(32);

        &-header{
            display: flex;
            flex-direction: column;
            gap: fluid(32, 16);
        }
        &-title{
            font-size: fluid(36, 28);
            font-weight: 600;
            line-height: 125%;
        }
        &-text{
            line-height: 155%;

            & > p{
                &:not(:first-child){
                    margin-top: rem(18);
                }
            }
        }

        &-footer{
            display: flex;
            gap: rem(22);
        }
        &-people{
            display: flex;
            align-items: end;

            & > img{
                @include square(fluid(78, 60));

                border: fluid(3,2) solid var(--Background-White);
                border-radius: 50%;

                &:not(:first-child){
                    margin-left: fluid(-22, -13);
                }
                &:first-child{
                    margin-left: fluid(-3, -2);
                }
            }
        }
        &-teacher{
            padding-bottom: rem(4);

            display: flex;
            flex-direction: column;
            justify-content: end;

            &-title{
                font-size: rem(36);
                font-weight: 700;
                line-height: 125%;
                color: var(--Text-Orange);
            }
            &-text{
                font-size: rem(14);
                line-height: 135%;
                color: var(--Text-Grey);
            }
        }
    }

    &__img{
        width: calc(50% - rem(10));

        padding: rem(8);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-12);

        & > img{
            @include square(100%);

            border-radius: var(--border-radius-12);

            object-fit: cover;
            object-position: top;
        }
    }

    @include tablet{
        flex-direction: column;

        &__main,
        &__img{
            width: 100%;
        }

        &__img{
            height: 82vw;
        }
    }

    @include mobile{
        &__main{
            padding: rem(24);

            &-title{
                line-height: 135%;
            }

            &-footer{
                flex-direction: column;
                gap: rem(8);
            }

            &-teacher{
                padding: 0;

                flex-direction: row;
                align-items: center;
                justify-content: start;
                gap: rem(16);
            }
        }
    }
}