@use '../helpers' as *;

.everyone{
    position: relative;

    display: flex;
    flex-direction: column;

    &__item{
        padding: rem(16);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-24);

        &-img{
            width: 100%;
            height: rem(220);

            object-fit: cover;
            object-position: center;

            border-radius: var(--border-radius-20);
        }

        &-content{
            padding: rem(24)  rem(8) rem(8) rem(8);

            display: flex;
            flex-direction: column;
            gap: rem(8);
        }
        
        &-pre-title{
            font-size: rem(20);
            font-weight: 500;
            line-height: 145%;

            color: var(--Text-Grey-bb);
        }

        &-title{
            font-size: rem(20);
            font-weight: 500;
            line-height: 145%;
        }

        &-text{
            line-height: 155%;
        }
    }

    .swiper-scrollbar{
        display: none;
    }

    &--all{
        .everyone__item-img{
            height: rem(190);
        }

        .swiper-wrapper{
            flex-wrap: wrap;

            gap: rem(20);
        }

        .swiper-slide{
            width: calc(33.33% - rem(13.33));
        }
    }

    @include tablet{
        .swiper-scrollbar{
            display: block;
        }

        &--all{
            .swiper-wrapper{
                flex-wrap: nowrap;

                gap: 0;
            }

            .swiper-slide{
                width: auto;
            }

            .everyone__item{
                width: 100%;
            }
        }
    }
}