@use '../helpers' as *;

.everyone{
    position: relative;

    display: flex;
    flex-direction: column;

    &__item{
        padding: rem(16);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-24);

        &-img{
            width: 100%;
            height: rem(220);

            object-fit: cover;
            object-position: center;

            border-radius: var(--border-radius-20);
        }

        &-content{
            padding: rem(24)  rem(8) rem(8) rem(8);

            display: flex;
            flex-direction: column;
            gap: rem(8);
        }

        &-title{
            font-size: rem(20);
            font-weight: 500;
            line-height: 145%;
        }

        &-text{
            line-height: 155%;
        }
    }

    .swiper-scrollbar{
        display: none;
    }

    @include mobile{
        padding-bottom: rem(36);

        &__item{
            height: 100%;

            padding: rem(8);

            &-content{
                padding: rem(18) rem(8) rem(8);
            }
        }

        .swiper-slide{
            display: flex;
            align-items: stretch;
        }

        .swiper-slide{
            height: auto;
        }

        .swiper-scrollbar{
            position: absolute;
            left: 0;
            bottom: 0;

            display: block;

            .swiper-scrollbar-drag{
                background: var(--Background-Blue);
            }
        }
    }
}