@use '../helpers' as *;

.exams{
    position: relative;

    display: flex;
    gap: rem(20);

    &__item{
        width: 100%;

        padding: rem(4);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-16);
    }

    &__title{
        position: relative;

        padding: rem(16) rem(24);

        font-size: rem(20);
        font-weight: 600;
        line-height: 145%;

        &::after{
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;


            width: 100%;
            height: 1px;

            background-color: var(--Background-Grey-e8);
        }
    }

    &__list{
        list-style-type: none;

        padding: rem(24);

        display: flex;
        flex-direction: column;
        gap: rem(24);

        & > li{
            display: flex;
            flex-direction: column;
            gap: rem(4);
        }

        &-title{
            font-size: rem(14);
            line-height: 135%;
            color: var(--Text-Grey);
        }

        &-text{
            font-weight: 600;
            line-height: 145%;
        }
    }

    @media (width <= rem(1200)) {
        padding-bottom: rem(36);
    }
}