@use '../helpers' as *;

.find{
    display: flex;
    gap: rem(20);

    &__item{
        width: calc(33.33% - rem(13.33));

        padding: rem(24);

        border-radius: var(--border-radius-24);
        background-color: var(--Background-White);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(24);

        &-top{
            display: flex;
            flex-direction: column;
            gap: rem(15);
        }
        &-title{
            font-size: rem(20);
            font-weight: 500;
            line-height: 145%;

            text-align: center;
        }
        &-tags{
            list-style-type: none;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: rem(4);

            li{
                padding: rem(5) rem(12);

                font-size: rem(14);
                line-height: 135%;

                background-color: var(--Background-Body);
                border-radius: var(--border-radius-8);
            }
        }
        &-description{
            line-height: 155%;
            color: var(--Text-Grey);

            text-align: center;
        }

        &-bottom{
            display: flex;
            flex-direction: column;
            gap: rem(31.5);
        }
        &-img{
            height: rem(220);

            background: linear-gradient(155deg, #E9EBF4 22.38%, #F8F8FE 85.63%);
            border-radius: var(--border-radius-20);

            & > img{
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }
    }

    @include tablet{
        flex-wrap: wrap;

        justify-content: center;

        &__item{
            width: calc(50% - rem(10));
        }
    }


    @include mobile{
        &__item{
            width: 100%;

            gap: rem(14);

            &-bottom{
                gap: rem(16);
            }
        }
    }
}