@use '../helpers' as *;

.header{
    position: fixed;
    top: rem(20);

    width: 100%;

    z-index: 1000;

    &__content{
        padding: rem(16) rem(16) rem(16) rem(24);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-16);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: rem(117);
        height: rem(32);

        display: flex;
        justify-content: center;
        align-items: center;

        & > img{
            width: 100%;
            height: 100%;
        }

        transition: var(--transition);

        @include hover{
            opacity: .6;
        }
    }

    &__menu{
        margin-left: rem(60);

        & ul{
            list-style-type: none;

            display: flex;
            align-items: center;
            gap: rem(4);
        }

        & a{
            text-decoration: none;

            padding: rem(4) rem(8);

            line-height: 155%; /* 24.8px */
            color: var(--Text-Black);

            transition: var(--transition);

            @include hover{
                color: var(--Text-Orange);
            }
        }
    }

    &__setting{
        padding-left: rem(16);

        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__lang{
        position: relative;

        &-open{
            padding: rem(8);

            display: flex;
            align-items: center;
            gap: rem(4);

            font-size: rem(14);
            font-weight: 700;
            line-height: 135%; /* 18.9px */

            text-transform: uppercase;

            background-color: var(--Background-Body);
            
            border-radius: 96px;

            transition: var(--transition);

            @include hover{
                opacity: .8;
                
                color: var(--Text-Orange);
            }

            &.is-active{
                & span:last-child{
                    transform: rotate(-180deg);
                }
            }
        }

        &-wrapper{
            overflow: hidden;
            position: absolute;
            width: 100%;

            height: 0;

            transition: var(--transition);

            background-color: var(--Background-Body);
            border-radius: var(--border-radius-16);
            overflow: hidden;
        }
        &-content{
            padding: rem(8);

            & ul{
                list-style-type: none;

                display: flex;
                align-items: center;
                flex-direction: column;

                & a{
                    text-decoration: none;

                    width: 100%;

                    font-weight: 700;
                    line-height: 135%;
                    text-transform: uppercase;

                    color: var(--Text-Black);

                    text-align: center;

                    transition: var(--transition);

                    @include hover{
                        color: var(--Text-Orange);
                    }
                }
            }
        }
    }

    &__open-menu,
    &__phone-menu{
        display: none;
    }

    @include tablet{
        &__content{
            padding-left: rem(16);
        }

        &__setting{
            & > .btn--base{
                display: none;
            }
        }

        &__open-menu,
        &__phone-menu{
            display: block;
        }

        &__phone-menu{
            overflow: hidden;
            z-index: -1;

            position: absolute;
            top: rem(-20);
            left: 0;

            height: 0;
            width: 100%;

            border-radius: 0 0 var(--border-radius-24) var(--border-radius-24);

            transition: var(--transition);

            &-wrapper{
                padding: rem(132) rem(30) rem(35) rem(30);

                background-color: var(--Background-Body);

                display: flex;
                flex-direction: column;
                gap: rem(32);
            }

            &-footer{
                display: flex;
                flex-direction: column;
                gap: rem(10);
            }
        }

        &__menu{
            margin-top: rem(9);
            margin-left: 0;

            & ul{
                flex-direction: column;

                align-items: start;
                gap: rem(20);
            }

            & a{
                padding: 0;

                font-size: rem(20);
                line-height: 135%; /* 27px */
            }
        }
    }
}