@use '../helpers' as *;

.header{
    position: absolute;
    top: rem(20);

    width: 100%;

    z-index: 1000;

    &__content{
        padding: rem(16) rem(16) rem(16) rem(24);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-16);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: rem(117);
        height: rem(32);

        display: flex;
        justify-content: center;
        align-items: center;

        & > img{
            width: 100%;
            height: 100%;
        }

        transition: var(--transition);

        @include hover{
            opacity: .6;
        }
    }

    &__menu{
        margin-left: rem(60);

        & ul{
            list-style-type: none;

            display: flex;
            align-items: center;
            gap: rem(4);
        }

        & a{
            text-decoration: none;

            padding: rem(4) rem(8);

            line-height: 155%; /* 24.8px */
            color: var(--Text-Black);

            transition: var(--transition);

            @include hover{
                color: var(--Text-Orange);
            }
        }
    }

    &__setting{
        padding-left: rem(16);

        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__lang{
        position: relative;

        &-open{
            padding: rem(8);

            display: flex;
            align-items: center;
            gap: rem(4);

            font-size: rem(14);
            font-weight: 700;
            line-height: 135%; /* 18.9px */

            text-transform: uppercase;

            background-color: var(--Background-Body);
            
            border-radius: 96px;

            transition: var(--transition);

            @include hover{
                opacity: .8;
            }
        }

        &-wrapper{
            overflow: hidden;
            position: absolute;
            width: 100%;

            height: 0;

            transition: var(--transition);

            background-color: var(--Background-Body);
            border-radius: var(--border-radius-16);
            overflow: hidden;
        }
        &-content{
            padding: rem(8);

            & ul{
                list-style-type: none;

                display: flex;
                align-items: center;
                flex-direction: column;

                & a{
                    text-decoration: none;

                    width: 100%;

                    font-weight: 700;
                    line-height: 135%;
                    text-transform: uppercase;

                    color: var(--Text-Black);

                    text-align: center;

                    transition: var(--transition);

                    @include hover{
                        color: var(--Text-Orange);
                    }
                }
            }
        }
    }

}