@use '../helpers' as *;

.hero-next{
    &__container{
        overflow: hidden;
        position: relative;

        padding-top: rem(172);
        padding-bottom: rem(108);

        color: var(--Text-White);
    }

    &__main{
        max-width: rem(575);
    }

    &__pre-title{
        font-size: fluid(20, 14);
        font-weight: 500;
        line-height: 145%;
    }

    &__title{
        margin-top: rem(8);

        font-size: fluid(48, 36);
        line-height: 125%;
        font-weight: 400;

        color: var(--Text-White);
    }

    &__text{
        margin-top: fluid(32, 16);

        max-width: rem(476);

        font-size: fluid(24, 20);
        font-weight: 500;
        line-height: 145%
    }

    &__img{
        position: absolute;
        right: rem(2);
        bottom: 0;
    }

    @include laptop{
        &__img{
            max-height: rem(400);
            
            width: 60%;

            object-fit: contain;
            object-position: bottom right;
        }
    }

    @include tablet{
        &__container{
            padding-bottom: rem(300);
        }

        &__img{
            width: 70%;
        }
    }

    @include mobile{
        &__container{
            padding-top: rem(143);
            padding-bottom: rem(260);
        }

        &__main{
        }

        &__pre-title{
            line-height: 145%;
        }

        &__title{
            line-height: 105%;
        }

        &__text{
            line-height: 145%
        }

        &__img{
            max-height: rem(260);

            width: 107%;

            object-position: center;
        }
    }
}