@use '../helpers' as *;

.hero-next{
    &__container{
        overflow: hidden;
        position: relative;

        padding-top: rem(172);
        padding-bottom: rem(108);

        color: var(--Text-White);
    }

    &__main{
        max-width: rem(575);
    }

    &__pre-title{
        font-size: rem(20);
        font-weight: 500;
        line-height: 145%;
    }

    &__title{
        margin-top: rem(8);

        font-size: 48px;
        line-height: 125%;
        font-weight: 400;

        color: var(--Text-White);
    }

    &__text{
        margin-top: rem(32);

        max-width: rem(476);

        font-size: rem(24);
        font-weight: 500;
        line-height: 145%
    }

    &__img{
        position: absolute;
        right: rem(2);
        bottom: 0;
    }
}