@use '../helpers' as *;

.hero-next{
    &__container{
        overflow: hidden;
        position: relative;

        padding-top: rem(172);
        padding-bottom: rem(108);

        color: var(--Text-White);
    }

    &__main{
        max-width: rem(575);
    }

    &__pre-title{
        font-size: fluid(20, 14);
        font-weight: 500;
        line-height: 145%;
    }

    &__title{
        font-size: fluid(48, 36);
        line-height: 125%;
        font-weight: 400;

        color: var(--Text-White);
    }

    &__text{
        margin-top: fluid(32, 16);

        max-width: rem(476);

        font-size: fluid(24, 20);
        font-weight: 500;
        line-height: 145%
    }

    &__small{
        margin-top: rem(32);

        font-size: fluid(20, 16);
        font-weight: 500;
        line-height: 145%;
    }

    &__img{
        z-index: -1;
        position: absolute;
        right: rem(2);
        bottom: 0;
    }

    &__gallery{
        margin-top: rem(40);

        display: flex;
        gap: rem(4);

        & > img{
            @include square(fluid(61, 48));

            border-radius: 50%;
        }
    }

    &--about{
        .hero-next__container{
            overflow: visible;

            padding-top: rem(148);
            padding-bottom: rem(77);
        }

        .hero-next__main{
            max-width: rem(773);
        }

        .hero-next__text{
            max-width: 100%;
        }

        .hero-next__img{
            right: rem(-84);
        }
    }

    &--news{
        .hero-next__container{
            padding-top: rem(128);
            padding-bottom: rem(64);
        }

        .hero-next__main{
            max-width: 100%;

            display: flex;
            flex-direction: column;
            gap: fluid(32, 16);
        }

        .hero-next__title{
            font-size: fluid(64, 36);
            font-weight: 600;
            line-height: 105%
        }
    }

    &--long{
        .hero-next__main,
        .hero-next__text{
            max-width: 100%;
        }

        .hero-next__title{
            font-size: fluid(64, 36);
            font-weight: 600;
            line-height: 115%;
        }

        .hero-next__text{
            margin-top: rem(24);

            font-size: fluid(20, 16);
            font-weight: 500;
            line-height: 145%;
        }

        .hero-next__container{
            overflow: visible;

            height: rem(720);

            padding-bottom: rem(48);

            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .hero-next__img{
            left: rem(-95);

            width: calc(100% + rem(95) * 2);
            height: 100%;

            border-radius: var(--border-radius-24);
        } 
    }

    @include laptop{
        &__img{
            max-height: rem(400);
            
            width: 60%;

            object-fit: contain;
            object-position: bottom right;
        }

        &--about{
            .hero-next__img{
                right: rem(0);
            }
        }

        &--long{
            .hero-next__img{
                top: 0;
                left: calc(var(--container-padding-x) * -1);
                right: auto;

                max-height: 200%;

                width: calc(100% + var(--container-padding-x) * 2);
                height: 100%;

                object-position: center;
                object-fit: cover;
            }
        }
    }

    @include tablet{
        &__container{
            padding-bottom: rem(300);
        }

        &__img{
            width: 70%;
        }

        &--about{
            .hero-next__img{
                width: rem(216);
            }
        }
    }

    @include mobile{
        &__container{
            padding-top: rem(143);
            padding-bottom: rem(260);
        }

        &__main{
        }

        &__pre-title{
            line-height: 145%;
        }

        &__title{
            line-height: 105%;
        }

        &__text{
            line-height: 145%
        }

        &__img{
            max-height: rem(260);

            width: 107%;

            object-position: center;
        }

        &--about{
            .hero-next__gallery{
                width: 30%;
                min-width: rem(200);

                flex-wrap: wrap;
            }
    
            .hero-next__container{
                padding-top: rem(144);
                padding-bottom: rem(64);
            }

            .hero-next__img{
                bottom: -23px;
                right: -36px;
            }
        }

        &--news{
            overflow: hidden;
            border-radius: 0 0 var(--border-radius-24) var(--border-radius-24);

            .hero-next__container{
                padding-top: rem(144);
                padding-bottom: rem(62);
            }

            .hero-next__main{
                align-items: center;
            }

            .hero-next__title{
                font-weight: 700;
                line-height: 115%;
                text-align: center;
            }
        }

        &--long{
            .hero-next__container{
                height: rem(640);

                padding-bottom: rem(40);
            }

            .hero-next__title{
                font-weight: 400;
                line-height: 105%;
            }

            .hero-next__img{
                top: 0;
                left: calc(var(--container-padding-x) * -1);
                right: auto;

                max-height: 200%;

                width: calc(100% + var(--container-padding-x) * 2);
                height: 100%;

                object-position: center;
                object-fit: cover;

                border-radius: 0 0 var(--border-radius-24) var(--border-radius-24);
            }
        }
    }
}