@use '../helpers' as *;

.hero{
    &__container{
        padding-top: rem(144);
    }

    &__main{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(32);
    }

    &__title{
        margin: 0;

        max-width: rem(612);

        font-size: fluid(64, 36);
        font-weight: 400;
        line-height: 105%; /* 67.2px */

        color: var(--Text-White);

        text-align: center;
    }

    &__text{
        max-width: rem(540);

        font-weight: 500;
        line-height: 145%;

        color: var(--Text-White);

        text-align: center;
    }

    &__gallery{
        margin-top: fluid(72, 64);
        margin-bottom: fluid(72, 59);     

        height: fluid(123, 59);

        position: relative;

        &-content{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: fluid(20, 4);

            & > img{
                object-fit: cover;

                &:nth-child(odd){
                    @include square(fluid(132, 67.69))
                }
                &:nth-child(even){
                    width: fluid(172, 88.21);
                    height: fluid(195, 100);
                }
            }
        }        
    }

    &--min-720{
        .hero-next__container{
            min-height: rem(720);
        }
    }

    @include laptop{
        &__gallery{
            &-content{
                left: calc(var(--container-padding-x) * -1);
                width: calc(100% + var(--container-padding-x) * 2);
            }
        }
    }

    @include mobile{
        &--phone-img-left.hero-next--long{
            .hero-next__img{
                object-position: left;
            }
        }
    }
}