@use '../helpers' as *;

.long{
    // текст
    &-title{
        font-size: fluid(36, 28);
        font-weight: 500;
        line-height: 145%;

        &--small{
            font-size: fluid(36, 24);
        }
    }

    &-text{
        font-size: fluid(20, 16);
        font-weight: 500;
        line-height: 145%;

        &--small{
            font-weight: 400;
            line-height: 135%;
        }
    }

    &-text-big{
        font-size: fluid(24, 16);
        font-weight: 400;
        line-height: 145%;

        & > span{
            font-weight: 500;
        }
    }
    &-text-bold{
        font-size: fluid(24, 20);
        font-weight: 600;
        line-height: 145%;
    }

    &-text-bold-semi{
        font-size: fluid(24, 16);
        font-weight: 500;
        line-height: 145%;
    }

    // общие
    &-item{
        margin-top: rem(24);

        position: relative;
        &::after{
            z-index: -50;

            content: '';

            position: absolute;
            top: 0;
            left: rem(-95);

            width: calc(100% + rem(95) * 2);
            height: 100%;

            background-color: var(--Background-White);
            border-radius: var(--border-radius-24);
        }

        color: var(--Text-Black);

        &--content-top-72{
            padding-top: rem(72);
        }

        &--content-bottom-72{
            padding-bottom: rem(72);
        }

        &--content-top-24{
            padding-top: rem(24);
        }

        &--content-bottom-24{
            padding-bottom: rem(24);
        }
    }

    &-block{
        padding-top: fluid(72, 48);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &--gap-48{
            gap: fluid(48, 32);
        }

        &--no-top{
            padding-top: 0;
        }
    }

    // блоки
    &-links{
        position: relative;

        padding: rem(32) 0;

        display: flex;
        flex-direction: column;
        gap: rem(16);

        &__title{
            line-height: 155%;

            opacity: .5;
        }

        &__main{
            .swiper-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: rem(8);
            }
            .swiper-slide{
                width: auto;
            }
        }
        &__item{
            text-decoration: none;

            display: inline-block;

            padding: rem(8) rem(16);

            background-color: var(--Background-Body);
            border-radius: rem(96);

            line-height: 155%;
            color: var(--Text-Black);

            transition: var(--transition);

            @include hover{
                color: var(--Text-Orange);
            }
        }
    }

    &-color{
        display: flex;
        gap: rem(32);

        color: var(--Text-White);

        h1,h2,h3,h4,h5,h6{
            color: var(--Text-White);
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap: fluid(24, 16);
        }

        &__img{
            object-fit: cover;

            border-radius: var(--border-radius-24);
        }


        &--50{
            padding: fluid(72, 32) 0;

            & > *{
                width: calc(50% - rem(10));
            }
        }

        &--60{
            padding: rem(48) 0;

            align-items: center;
            justify-content: space-between;
            gap: rem(24);

            & > *{
                &:first-child{
                    width: 51.3%;
                }

                &:last-child{
                    width: 40.7%;
                }
            }

        }

        &--auto{
            padding: fluid(72, 32) 0;

            & > *{
                &:first-child{
                    width: auto;
                }

                &:last-child{
                    width: auto;
                }
            }

            .long-color__img{
                object-fit: contain;
            }
        }
    }

    &-border{
        padding: rem(47);

        border: 1px solid var(--Background-Body);
        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &__text{
            display: flex;
            flex-direction: column;
            gap: fluid(24, 16);
        }

        &--gap-24{
            gap: rem(24);
        }

        &--gap-32{
            gap: rem(32);
        }

        &--gap-48{
            gap: rem(48);
        }

        &--gap-56{
            gap: rem(56);
        }

        &--padding-bottom-0{
            padding-bottom: 0;
        }
    }

    &-slider{
        position: relative;

        padding-bottom: rem(49);

        &__item{
            width: 100%;
            height: fluid(240, 160);

            border-radius: var(--border-radius-12);
            object-fit: cover;
            object-position: top;
        }
    }

    &-video{
        position: relative;

        border-radius: var(--border-radius-16);
        overflow: hidden;

        display: flex;

        video{
            width: 100%;
            height: 34.9vw;
            object-fit: cover;
        }

        &__banner{
            z-index: 10;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                z-index: -1;

                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--Text-Black-00);
                opacity: .3;
            }

            &-img{
                z-index: -2;

                position: absolute;
                top: 0;
                left: 0;
            }

            &-button{
                @include square(rem(112));

                border-radius: 50%;

                img{
                    width: 100%;
                }

                @include hover{
                    opacity: .8;
                }
            }
        }

        &.active{
            .long-video__banner{
                display: none;
            }
        }
    }

    &-block-text{
        position: relative;

        width: 100%;
        height: rem(660);

        border-radius: var(--border-radius-24);
        overflow: hidden;

        &__img{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: top;
        }


        &__text{
            position: absolute;
            left: 8px;
            bottom: 8px;

            width: calc(100% - 16px);
            
            padding: rem(32);

            background-color: var(--Background-White);
            border-radius: var(--border-radius-16);
        }

        &--height-640{
            height: rem(640);
        }
    }

    &-img{
        border-radius: var(--border-radius-24);

        object-fit: cover;
        object-position: center;

        &--no-border{
            border-radius: 0;
        }
    }

    &-img-two{
        display: flex;
        gap: rem(24);

        & > *{
            width: calc(50% - rem(12));
        }

        img{
            border-radius: var(--border-radius-16);
        }
    }

    &-block-color{
        padding: rem(48);

        border-radius: var(--border-radius-16);
        background-color: var(--Background-Body);

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);

        &__text{
            max-width: rem(600);

            display: flex;
            flex-direction: column;
            gap: fluid(24, 16);
        }

        &__img{
            width: rem(201);
            height: rem(199);

            object-fit: cover;
        }
    }

    &-author-wrapper{
        display: flex;
        flex-direction: column;
        gap: rem(18);

        &--gap-24{
            gap: rem(24);
        }
    }

    &-author{
        background: var(--Gradient-Brown-right);
        border-radius: var(--border-radius-16);

        display: flex;
        align-items: center;
        gap: rem(16);

        color: var(--Text-White);

        &__img{
            flex-shrink: 0;

            width: rem(296);
        }

        &__text{
            padding: rem(32) rem(48);

            display: flex;
            flex-direction: column;
            gap: rem(24);
        }


    }

    &-author-sign{
        display: flex;
        flex-direction: column;
        gap: rem(4);

        &__name{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
        }

        &__description{
            opacity: .4;

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            color: var(--Text-Grey);
        }
    }

    &-author-small{
        padding: rem(48);

        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &__img{
            @include square(rem(240));

            border-radius: 50%;
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }

        &__line{
            position: relative;

            width: rem(89);
            height: rem(2);

            &::after{
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 100%;

                border-radius: rem(2);

                background-color: var(--background-orange);
            }
        }

        &--horizon{
            flex-direction: row;
        }

        &--center{
            align-items: center;
        }

        &--gap-64{
            gap: rem(64);
        }
    }

    &-picture{
        padding: rem(48);

        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &__frame{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(10);

            &-img{
                max-width: 100%;
            }

            &-name{
                opacity: 0.7;

                font-size: rem(16);
                line-height: 155%;
                color: var(--Text-Black-00);
            }
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }
    }

    &-ballet{
        padding: rem(48);

        border-radius: var(--border-radius-16);

        display: flex;
        justify-content: space-between;
        gap: rem(32);

        &__text{
            padding: rem(24) 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            color: var(--Text-White);

            .long-title{
                font-weight: 600;
                line-height: 125%;

                color: var(--Text-White);
            }
        }

        &__img{

        }
    }

    &-banner{
        position: relative;

        margin-left: rem(-71);

        width: calc(100% + rem(71) * 2);

        border-radius: var(--border-radius-16);
        overflow: hidden;

        display: flex;

        &__img{
            width: 100%;
        }

        &__content{
            z-index: 1;

            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;

            padding: rem(48) rem(95);

            background: var(--Gradient-Blue-Banner);

            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: rem(24);

            & > *{
                color: var(--Text-White);
            }

            &--dark{
                background: var(--Gradient-Dark-top);
            }
        }

        &--width{
            margin-left: rem(-95);

            width: calc(100% + rem(95) * 2);
        }
    }

    &-slider-2{
        overflow: hidden;

        position: relative;

        .swiper-slide{
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        &__item{
            display: flex;
            flex-direction: column;
            gap: rem(48);
        }

        &__img{
            border-radius: var(--border-radius-16);
        }
    }

    &-img-width{
        margin-left: rem(-48);

        width: calc(100% + rem(48) * 2);

        border-radius: var(--border-radius-16);
    }

    &-fairy-tales{
        position: relative;

        &__item{
            width: 100%;

            padding: rem(48);

            background-color: var(--Background-Body);
            border-radius: var(--border-radius-16);

            display: flex;
            align-items: center;
            gap: rem(32);

            &-text{
                display: flex;
                flex-direction: column;
                gap: fluid(24, 8);
            }

            &-img{
                flex-shrink: 0;

                border-radius: var(--border-radius-16);
            }
        }
    }

    &-color-short{
        padding: rem(48);

        border-radius: var(--border-radius-16);

        background-color: var(--Background-Blue);

        display: flex;
        gap: rem(48);

        color: var(--Text-White);

        h1,h2,h3,h4,h5{
            color: var(--Text-White);
        }

        &__title{}

        &__text{
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }

        &--54{
            .long-color-short__title{

            }

            .long-color-short__text{
                flex-shrink: 0;

                width: 54%;
            }
        }
    }

    &-proverbs{
        position: relative;

        padding-top: rem(24);

        &__item{
            position: relative;

            padding: rem(64) rem(128);

            border-radius: var(--border-radius-16);
            background-color: var(--Background-fcf);

            &::before{
                content: '';

                position: absolute;
                top: rem(28);
                left: rem(78);

                width: rem(32);
                height: rem(24.42);

                background-image: url(../../../public/assets/svg/proverbs-top.svg);
                background-size: cover;
            }

            &::after{
                content: '';

                position: absolute;
                right: rem(112);
                bottom: rem(28);

                width: rem(32);
                height: rem(24.42);

                background-image: url(../../../public/assets/svg/proverbs-bottom.svg);
                background-size: cover;
            }
        }
    }

    &-text-bock{
        display: flex;
        align-items: center;
        gap: rem(10);

        &__text{}

        &__img{
            flex-shrink: 0;
        }
    }

    &-box-color{
        padding: rem(48);

        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: fluid(24, 16);

        &--margin-top-16{
            margin-top: rem(16);
        }

        &--gap-32{
            gap: rem(32);
        }
    }

    &-counter-list{
        list-style: none;
        counter-reset: item;

        padding-top: rem(16);

        display: flex;
        flex-direction: column;
        gap: rem(16);

        li{
            position: relative;
            counter-increment: item;

            padding-left: rem(46);

            font-size: fluid(24, 16);
            line-height: 145%; 

            &::before{
                @include square(rem(30));

                content: counter(item);

                position: absolute;
                top: rem(4);
                left: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: rem(16);
                font-weight: 600;
                line-height: 145%;

                color: var(--Text-White);
                background-color: var(--background-orange);
                border-radius: var(--border-radius-6);
            }
        }
    }

    &-alert{
        padding: rem(48);

        background-color: var(--Background-Blue);
        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: rem(24);

        color: var(--Text-White);

        &__header{
            display: flex;
            align-items: center;
            gap: rem(16);

            &-img{
                @include square(rem(42));
            }

            .long-text-bold{

            }
        }

        &--width{
            margin: 0 rem(-48);
        }

        &--orange{
            background-color: var(--background-orange);
        }
    }

    &-img-center{
        margin: auto;

        max-width: 100%;
        height: auto;
    }

    &-hymn{
        max-width: rem(500);
    }

    &-list-ul{
        list-style-type: none;

        font-size: fluid(24, 16);
        font-weight: 400;
        line-height: 145%; 

        li{
            position: relative;

            padding-left: rem(36);

            &::before{
                @include square(rem(6));

                content: '';

                position: absolute;
                top: rem(14);
                left: rem(17);

                background-color: var(--Text-Black);
                border-radius: 50%;
            }
        }
    }

    @include laptop{
        &-item{
        
            &::after{
                left: calc(var(--container-padding-x) * -1);

                width: calc(100% + var(--container-padding-x) * 2);
            }

        }

        &-banner{
            margin-left: 0;

            width: 100%;

            &--width{
                margin-left: calc(var(--container-padding-x) * -1);

                width: calc(100% + var(--container-padding-x) * 2);
            }
        }
    }

    @include tablet{
        &-color{
            &__img{
                height: 59vw;
            }


            &--50{
                flex-direction: column;

                & > *{
                    width: 100%;
                }
            }

            &--60{
                flex-direction: column;

                & > *{
                    &:first-child{
                        width: 100%;
                    }

                    &:last-child{
                        width: 100%;
                    }
                }

            }

            &--auto{
                flex-direction: column;

                .long-color__img{
                    height: rem(210);
                }
            }
        }

        &-block-text{
            overflow: visible;
            position: relative;

            height: auto;

            display: flex;
            flex-direction: column;
            gap: fluid(32, 24);

            &__img{
                position: static;

                height: 59vw;

                border-radius: var(--border-radius-24);
            }


            &__text{
                position: static;

                padding: 0;
            }

            &--height-640{
                .long-block-text__img{
                    height: 54vw;
                }   
            }
        }

        &-block-color{
            padding: rem(24);

            flex-direction: column-reverse;

            .long-title{
                font-size: fluid(24, 16);
            }

            .long-text-bold{
                font-size: fluid(24, 16);
            }
        }

        &-ballet{
            flex-direction: column;
            
            &__text{
                gap: rem(24);
            }

            &__img{
                max-width: 100%;
            }
        }

        &-fairy-tales{
            &__item{
                flex-direction: column;
            }
        }

        &-color-short{
            flex-direction: column;

            &--54{
                .long-color-short__text{
                    width: 100%;
                }
            }
        }

        &-author-small{
            &--gap-64{
                gap: rem(32);
            }
        }
    }

    @include mobile{
        &-item{
            &--content-bottom-72{
                padding-bottom: rem(32);
            }
        }

        &-text{
            

            &--small{
                line-height: 155%;
            }
        }

        &-text-bold{
            &--phone-normal{
                font-size: rem(16);
                font-weight: 400;
                line-height: 155%;
            }
            &--phone-bold{
                font-size: rem(16);
                font-weight: 500;
                line-height: 145%;
            }
        }

        &-text-big{
            line-height: 155%;
        }

        &-title{
            font-weight: 600;
            line-height: 135%;
        }

        &-item{
            &--phone-none{
                &::after{
                    display: none;
                }
            }
        }

        &-links{
            padding: rem(24) 0;

            &::after{
                @include square(rem(26));

                content: '';

                position: absolute;
                top: rem(22);
                right: rem(4);

                background-image: url(../../../public/assets/svg/tabs-next-swipe.svg);
                background-size: cover;
            }

            &__title{
                line-height: 155%;

                opacity: .5;
            }

            &__main{
                position: relative;

                .swiper-wrapper{
                    flex-wrap: nowrap;
                    gap: 0;
                }
                .swiper-slide{
                    width: auto;
                }

                .swiper-button-prev,
                .swiper-button-next{
                    pointer-events: none;

                    bottom: 0;

                    width: rem(73);
                    height: rem(40);

                    svg{
                        display: none;
                    }

                    transition: var(--transition);

                    &.swiper-button-disabled{
                        opacity: 0;
                    }
                }
                .swiper-button-prev{
                    left: calc(var(--container-padding-x) * -1);

                    background: var(--Gradient-Grey-left);
                }
                .swiper-button-next{
                    right: calc(var(--container-padding-x) * -1);

                    background: var(--Gradient-Grey-right);
                }
            }
            &__item{
                flex-shrink: 0;

                font-size: rem(14);
                line-height: 135%;

                background-color: var(--Background-White);
            }
        }

        &-border{
            padding: rem(23);

            &--gap-56{
                gap: rem(24);
            }

            &--phone-gap-32{
                gap: rem(32);
            }

            &--phone-gap-24{
                gap: rem(24);
            }

            
            &--phone-gap-16{
                gap: rem(16);
            }
        }

        &-video{
            video{
                height: 61.56vw;
            }

            &__banner{

                &-button{
                    @include square(rem(80));

                    @include hover{
                        opacity: .8;
                    }
                }
            }
        }

        &-img{
            height: 59vw;
        }

        &-block-color{
            .long-title{
                line-height: 145%;
            }

            .long-text-bold{
                line-height: 155%;
            }


            &__img{
                width: rem(102);
                height: rem(100);
            }
        }

        &-author{
            flex-direction: column-reverse;
            gap: 0;


            &__text{
                padding: rem(32) rem(24);
            }

            .long-text-big{
                line-height: 145%;
            }
        }

        &-author-small{
            padding: rem(24);

            align-items: center;
            gap: rem(24);

            &__img{
                @include square(rem(160));
            }

            &__text{
                gap: rem(16);

                &--gap-phone-24{
                    gap: rem(24);
                }
            }

            .long-text--small{
                font-weight: 500;
                line-height: 145%;

                &:last-child{
                    font-weight: 400;
                    line-height: 155%;
                }
            }

            .long-title{
                font-size: rem(20);
                font-weight: 500;
                line-height: 145%;
            }

            &--horizon{
                flex-direction: column;

                .long-text-big{
                    line-height: 145%;
                    font-weight: 500;
                }
            }

            &--center{
                gap: rem(32);

                .long-text-big{
                    font-weight: 400;
                    line-height: 155%;
                }
            }
        }

        &-picture{
            padding: rem(24);

            &__frame{

                &-img{
                    border-radius: var(--border-radius-16);
                }

                &-name{
                    text-align: center;
                }
            }
        }

        &-ballet{
            padding: rem(24);

            gap: rem(16);
            
            &__text{
                padding: 0;

                .long-title{
                    font-size: rem(16);
                    font-weight: 500;
                    line-height: 145%;
                }
            }

            &__img{
                max-width: 100%;
            }
        }

        &-banner{
            margin-left: 0;

            left: calc(var(--container-padding-x) * -1);

            width: calc(100% + var(--container-padding-x) * 2);

            &__img{
                height: rem(660);

                object-fit: cover;
                object-position: top center;
            }

            &__content{
                padding: rem(48) var(--container-padding-x);

                .long-title{
                    font-size: rem(24);
                    line-height: 135%;
                }
            }

            &--width{
                height: rem(520);
            }
        }

        &-slider-2{
            .swiper-slide{
                
            }

            &__item{
                gap: rem(24);
            }

            &__img{
                height: 51.5vw;

                object-fit: cover;
                object-position: top center;
            }
        }
        
        &-img-width{
            margin-left: 0;

            width: 100%;
        }

        &-fairy-tales{
            position: relative;

            &__item{
                padding: rem(24);

                &-text{

                }

                &-img{
                    max-height: rem(600);

                    width: 100%;

                    object-fit: cover;
                }
            }
        }

        &-color-short{
            padding: rem(24);

            gap: rem(16);

            &__title{
                .long-title{
                    font-size: rem(24);
                    line-height: 145%;
                }
            }

            &__text{
                gap: rem(16);

                .long-text{
                    font-weight: 400;
                    line-height: 155%;
                }
            }

            &--54{
                .long-color-short__title{

                }

                .long-color-short__text{
                    
                }
            }
        }

        &-proverbs{
            padding-top: 0;

            &__item{
                padding: rem(24) rem(24) rem(84) rem(24);

                &::before{
                    top: rem(10);
                    left: rem(10);

                    width: rem(16);
                    height: rem(12.2);
                }

                &::after{
                    right: rem(10);
                    bottom: rem(10);

                    width: rem(16);
                    height: rem(12.2);
                }
            }
        }

        &-text-bock{
            &__text{}

            &__img{
                display: none;
            }
        }

        &-img-two{
            display: flex;
            gap: rem(8);

            & > *{
                width: calc(50% - rem(4));
            }

            img{
                border-radius: var(--border-radius-16);
            }
        }

        &-box-color{
            padding: rem(24);

            &--phone-gap-16{
                gap: rem(16);
            }
        }

        &-counter-list{
            li{
                line-height: 155%;
            }
        }

        &-alert{
            padding: rem(24);

            display: flex;
            flex-direction: column;
            gap: rem(16);


            &__header{
                flex-direction: column;
                align-items: start;

                &-img{
                    @include square(rem(32));
                }
            }

            &--width{
                margin: 0 rem(-24);
            }

            .long-text{
                font-weight: 400;
                line-height: 155%;
            }

            &--phone-gap-min{
                .long-alert__header{
                    gap: rem(8);
                }
            }
        }

        &-hymn{
            .long-text-big{
                font-size: rem(14);
                line-height: 135%;
            }
            
        }

        &-list-ul{
            line-height: 155%;

            li{
                padding-left: rem(25);

                &::before{
                    @include square(rem(4));

                    top: rem(10);
                    left: rem(10);
                }
            }
        }
    }
}