@use '../helpers' as *;

.long-main{
    margin-top: fluid(96, 72);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    &__item{
        padding: rem(16);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(24);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-24);

        &-img{
            min-height: rem(220);

            width: 100%;

            border-radius: var(--border-radius-20);
        }

        &-content{
            min-height: rem(124);

            padding: 0 rem(8);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: fluid(26, 24);
        }
        &-title{
            font-size: rem(20);
            font-weight: 500;
            line-height: rem(29);
        }
        &-link{
            text-decoration: none;

            padding: rem(8.5);

            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(8);

            border-radius: var(--border-radius-8);
            background-color: var(--Background-Body);

            font-size: rem(16);
            font-weight: 500;
            line-height: 145%;
            color: var(--Text-Grey);

            & > span{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            transition: var(--transition);

            @include hover{
                color: var(--Text-Orange);

                & > span{
                    svg * {
                        fill: var(--Text-Orange);
                    }
                }
            }
        }
    }

    @include tablet{
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile{
        grid-template-columns: repeat(1, 1fr);

        &__item{
            &-img{
                object-fit: cover;
            }

            &-content{
                min-height: auto;
            }
        }
    }
}