@use '../helpers' as *;

.long-if {

   .hero-next--long .hero-next__title {
      font-size: fluid(64, 32);
   }

   .orientation {
      &-preview {

         .page__item-color {
            width: calc(100% + 5.9375rem * 2);
            left: rem(-95);
            z-index: 1;
            background: #4e1be0;
            border-radius: rem(16);
            position: relative;
            overflow: hidden;
         }

         &__decor {
            position: absolute;
            left: rem(-554);
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
         }

         &__inner {
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: space-between;
            padding: fluid(72, 32) fluid(95, 20);

            &-left {
               max-width: rem(430);

               img {
                  transform: translateX(rem(-170));
               }
            }

            &-right {
               max-width: rem(658);

               .paragraph {
                  font-size: fluid(20, 16);
                  line-height: 145%;
                  color: #fff;
                  margin-bottom: rem(24);

                  &:last-child {
                     margin-bottom: 0;
                  }
               }

            }
         }

      }

      @include tablet {
         &-preview {
            &__decor {
               display: none;
            }

            &__inner {
               flex-direction: column-reverse;

               &-left {
                  max-width: none;

                  img {
                     transform: none;
                     width: 100%;
                     width: calc(100% - rem(40));
                     margin-left: rem(20);
                  }
               }

               &-right {
                  max-width: none;
                  margin-bottom: rem(32);
               }
            }
         }
      }

      @include laptop {
         &-preview {
            .page__item-color {
               left: rem(-20);

               width: calc(100% + rem(40));
            }

         }
      }
   }

   .attention-mark {
      &--62 {
         width: fluid(64, 32);
         height: fluid(64, 32);
         min-width: fluid(64, 32);
         min-height: fluid(64, 32);

         svg, img {
            width: 100%;
            height: 100%;
         }
      }

      &--margin-bottom {
         margin-bottom: fluid(24, 16);
      }
   }

   .long-block-color {
      img {
         max-width: 100%;
      }
   }

   .long-img--full {
      width: calc(100% + rem(284));
      transform: translateX(rem(-142));
      border-radius: rem(16);
      overflow: hidden;
      height: rem(795);

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @include laptop {
         width: 100%;
         transform: translateX(0);
         height: fluid(795, 210);
      }
   }

   .long-block-color--list {
      display: block;
   }

   .long-text--margin-top {
      margin-top: rem(24);
   }

   .long-text--mobile-align {
      @include mobile {
         text-align: center;
      }
   }

   .list--dots {
      list-style-type: none;
      list-style-position: inside;
      grid-column: 2;

      .item-text {
         display: flex;
         align-items: flex-start;

         &::before {
            display: block;
            content: "";
            width: fluid(6, 4);
            height: fluid(7, 5);
            min-width: fluid(6, 4);
            min-height: fluid(7, 5);
            border-radius: 50%;
            margin: fluid(14, 11) fluid(15, 10) 0 fluid(15, 10);
            background-color: #020202;
         }
      }

      .item-text--white {
         &::before {
            margin-left: 0;
            background-color: #fff;
         }
      }
   }

   .long-block__list {
      list-style-type: none;
      margin-top: rem(44);

      &--margin-top-0 {
         @include mobile {
            margin-top: 0;
         }
      }

      &-item {
         display: grid;
         grid-template-columns: rem(46) auto;
         align-items: flex-start;
         margin-bottom: rem(32);
         column-gap: rem(16);

         &--margin-bottom-16 {
            @include mobile {
               margin-bottom: rem(16);
            }
         }

         @include mobile {
            column-gap: 0;
         }

         &:last-child {
            margin-bottom: 0;
         }

         .item-number {
            background: #e1401c;
            border-radius: rem(8);
            width: rem(42);
            height: rem(42);
            min-width: rem(42);
            min-height: rem(42);
            font-weight: 600;
            font-size: rem(23);
            line-height: 180%;
            text-align: center;
            color: #fff;
            margin-right: rem(16);
            margin-top: rem(8);
         }

         .item-number--small {
            border-radius: rem(6);
            margin-top: rem(4);
            width: rem(30);
            height: rem(30);
            min-width: rem(30);
            min-height: rem(30);
            font-size: rem(16);
         }

         .item-text {

            span {
               display: inline;
               font-weight: 500;
            }

         }
      }

      &-item--margin-16 {
         margin-bottom: rem(16);
      }

      &-item--mobile {
         @include mobile {
            grid-template-columns: 1fr;

            .item-text {
               grid-column: 1;
            }

            .item-number {
               margin-right: 0;
               margin-top: 0;
               justify-self: center;
               margin-bottom: rem(8) !important;
            }

            .list--dots {
               grid-column: 1;
               margin-top: rem(15);
            }
         }
      }

      @include mobile {
         &-item {
            flex-direction: column;

            .item-number {
               width: rem(32);
               height: rem(32);
               min-width: rem(32);
               min-height: rem(32);
               font-size: rem(16);
               margin-bottom: rem(8);
               line-height: 190%;
            }
         }
      }
   }

   .long-block__list--margin-top {
      @include mobile {
         margin-top: rem(24);
      }
   }

   .long-banner .long-title--16 {
      font-size: fluid(36, 20);
   }

   .long-banner--min-hight {
      min-height: fluid(720, 740);

      img {
         height: auto !important;
      }
   }

   .long-block__list--small-numbers {
      .long-block__list-item {
         column-gap: 0;
      }

      @include mobile {
         .long-block__list-item {
            flex-direction: row;
            margin-bottom: rem(16);

            .item-number {
               width: rem(30);
               height: rem(30);
               min-width: rem(30);
               min-height: rem(30);
               font-size: rem(16);
               margin-bottom: 0;
               line-height: 190%;
            }
         }
      }
   }

   .attention-block {
      background: #e1401c;
      border-radius: rem(16);
      padding: fluid(40, 24);
      display: flex;
      align-items: center;

      &__top {
         display: flex;
         align-items: center;
         margin-bottom: rem(24);

         img {
            width: rem(42);
            height: rem(42);
            min-width: rem(42);
            min-height: rem(42);
            margin-right: rem(16);
         }

         &-text {
            font-weight: 600;
            font-size: fluid(24, 20);
            line-height: 145%;
            color: #fff;
         }
      }

      &__list {
         list-style-type: disc;
         list-style-position: inside;
         margin-left: rem(10);

         &-item {
            font-weight: 500;
            font-size: fluid(20, 16);
            line-height: 145%;
            color: #fff;
            margin-bottom: fluid(10, 0);

         }
      }

      &__mark {
         width: rem(42);
         height: rem(42);
         min-width: rem(42);
         min-height: rem(42);
         margin-right: rem(24);

         img {
            width: 100%;
         }
      }

      &__text {
         font-weight: 500;
         font-size: fluid(24, 16);
         line-height: 145%;
         color: #fff;

         @include mobile {
            font-weight: 400;
         }
      }

      @include mobile {
         flex-direction: column;
         align-items: flex-start;

         &__mark {
            width: rem(32);
            height: rem(32);
            min-width: rem(32);
            min-height: rem(32);
            margin-bottom: rem(16);
         }

         &__top {
            img {
               width: rem(32);
               height: rem(32);
               min-width: rem(32);
               min-height: rem(32);
            }
         }

         &__list {
            &-item {
               font-weight: 400;
               line-height: 155%;
            }
         }
      }
   }
   
   .long-text-bold--24-20 {
      font-size: fluid(24, 20) !important;
      line-height: 145%;
   }

   .long-text-bold--fw-500 {
      @include mobile {
         font-weight: 500;
      }
   }

   .long-text--no-scale {
      font-size: rem(20) !important;
      font-weight: 500 !important;
      line-height: 145% !important;
   }

   .long-text--margin-bottom-16 {

      @include mobile {
         margin-bottom: rem(16);
      }
   }

   .long-text-bold--static {
      @include mobile {
         line-height: 145%;
         font-weight: 500;
         font-size: rem(20);
      }
   }

   .long-title--to-24 {
      @include mobile {
         font-size: rem(24);
      }
   }

   .long-title--fw-500 {
      @include mobile {
         font-weight: 500;
         line-height: 145%;
      }
   }

   .attention-block--violet {
      background: var(--Background-Blue);

      .attention-block__text--margin {
         margin-right: fluid(24, 0);
      }

      @include mobile {
         .attention-block__text--margin {
            margin-bottom: rem(16);
         }

         .attention-block__text {
            line-height: 155%;

            &--phone-small{
               font-weight: 400;
               line-height: 155%;
            }
         }

      }
   }

   .attention-block-2 {
      flex-direction: column;
      align-items: flex-start;
   }

   .long-img-full {
      transform: translateX(rem(-95));
      margin-top: fluid(32, 0);
      width: calc(100% + 5.9375rem * 2);

      img {
         width: 100%;
      }
   }

   .long-img-full--taxi {
      margin-top: 0;
   }

   @include laptop {
      .long-img-full {
         transform: translateX(0);
         width: calc(100%);
      }
   }

   .long-if__before {

      .page__item-color {

         padding: fluid(40, 32) 0;
      }
   }

   .img-and-description {
      padding-top: 0;
      margin-top: fluid(16, 0);
      position: relative;
      z-index: 1;

      img {
         width: 100%;
      }

      &__description {
         padding: fluid(32, 0);
         width: calc(100% - rem(16));
         position: absolute;
         top: 8px;
         left: fluid(8, 0);
         background: #fff;
         border-radius: rem(16);

         &-text {
            font-weight: 400;
            font-size: fluid(20, 16);
            line-height: 135%;
         }
      }

      @include mobile {
         &__description {
            position: static;
            padding: 0;
            width: auto;
            margin-top: rem(32);
         }
      }
   }

   .long-text-info {
      font-weight: 400;
      font-size: rem(14);
      line-height: 135%;
      color: #4d4d4d;
   }

   .long-block-color--fact {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      justify-items: end;
      min-height: rem(411);

      .long-block-color__left {
         margin-right: rem(32);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         max-width: rem(526);
         height: 100%;

         .long-text-bold {
            margin-bottom: fluid(24, 16);
         }

      }

      @include tablet {
         grid-template-columns: 1fr;
         justify-items: start;
         row-gap: rem(32);

         .long-block-color__left {
            margin-right: 0;
            margin-bottom: 0;

            &-top {
               margin-bottom: rem(10);
            }
         }

         .long-block-color__right {
            width: 100%;

            img {
               width: 100%;
            }
         }
      }
   }

   .swiper-button--centered {
      @include laptop {
         bottom: 50% !important;
      }
   }

   .long-block-tips {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: fluid(24, 0) 0;

      &__item {
         padding: fluid(48, 24);
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         border-radius: rem(16);
         min-height: rem(413);
         flex: 1 1 0;
      }

      &__left {
         background: var(--Background-Body);
         margin-right: rem(20);

         .long-text--small {
            span {
               margin-bottom: fluid(0, 10);
               display: block;

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }

      &__right {
         background: var(--Background-Blue);

         img {
            width: fluid(64, 32);
            height: fluid(64, 32);
            min-width: fluid(64, 32);
            min-height: fluid(64, 32);
         }

         .long-text-bold {
            color: #fff;
         }
      }

      @include mobile {
         flex-direction: column;

         &__left {
            margin-right: 0;
            margin-bottom: rem(32);

            .long-text--small {
               margin-bottom: rem(16);
            }
         }

         &__right {
            img {
               margin-bottom: rem(16);
            }

            .long-text-bold {
               font-weight: 400;
               font-size: rem(16);
               line-height: 155%;
            }
         }

         &__item {
            min-height: auto;
         }
      }
   }

   .long-text-big a, 
   .attention-block__text a {
      display: inline;
      color: inherit;
   }

   .long-color--mobile {
      @include mobile {
         flex-direction: column;

         img {
            width: rem(64);
            height: rem(64);
            min-width: rem(64);
            min-height: rem(64);
         }
      }
   }

   .long-list--decimal {
      list-style-type: none;
      counter-reset: item;

      li {
         list-style-type: none;
         counter-increment: item;
         display: flex;
         font-size: fluid(20, 16);

         &::before {
            content: counter(item) '.';
            margin-right: rem(5);
         }
      }
   }

   .long-list--decimal-grey {
      li {
         &::before {
            opacity: 0.5;
            font-size: rem(16);
            margin-top: rem(3);
            margin-right: rem(8);
         }
      }
   }

   .long-color--no-gap {
      gap: 0;
   }

   .long-color__text--width-984 {
      max-width: rem(984);
   }

   .long-color__text--margin-left {
      margin-left: rem(40);

      @include mobile {
         margin-left: 0;
         margin-top: rem(24);
         gap: rem(24);
      }
   }
   
   .img-wrapper--br-16 {
      overflow: hidden;
      border-radius: rem(16);
   }

   .img-wrapper--min-height-240 {
      @include mobile-s {
         height: rem(240);
         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
         }
      }
   }

   .long-if-slider {

      overflow: hidden;
      .swiper-wrapper {
      }

      .swiper-slide {
         border-radius: rem(16);
         background: var(--Background-Body);
         padding: fluid(48, 24) 0;
         align-items: center;
         justify-content: center;
      }

      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;

         img {
            margin-bottom: fluid(32, 16);
            max-width: 100%;
         }

         .long-text--small {
            color: #4d4d4d;
            margin-top: rem(8);
            font-size: rem(14);
            text-align: center;
         }
      }
   }

   .long-block__list--separate {
      .long-block__list-item {
         margin-bottom: rem(16);
         align-items: center;

         .item-text {
            span {
               display: block;
            }
         }

         .item-number {
            margin-top: 0;
         }

      }

      .long-text-big--separated {
         margin-bottom: fluid(32, 24);
      }

      @include mobile {
         .long-block__list-item {
            flex-direction: row;

            .item-number {
               margin-bottom: 0;
            }
         }
      }

      .list-blocks {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto;
         grid-gap: fluid(20, 8);
         margin: rem(24) 0 fluid(32, 24) 0;

         &__item {
            background: #fff;
            border-radius: rem(16);
            padding: fluid(32, 24);

            &-title {
               font-weight: 400;
               font-size: fluid(20, 16);
               line-height: 135%;
               text-align: center;
               margin-bottom: fluid(24, 16);
            }

            &-list {
               list-style-type: decimal;
               list-style-position: inside;

               .list-item {
                  margin-bottom: rem(8);

                  &:last-child {
                     margin-bottom: 0;
                  }

                  &__text {
                     font-weight: 400;
                     font-size: fluid(16, 14);
                     line-height: 155%;
                     display: inline;

                  }

                  &::marker {
                     display: inline;
                     font-weight: 400;
                     font-size: rem(16);
                     line-height: 155%;
                     color: #4d4d4d;
                     opacity: 0.5;
                  }
               }
            }
         }

         @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            &__item {
               &-title {
                  font-weight: 500;
                  line-height: 145%;
               }

               &-list {
                  .list-item {
                     &__text {
                        font-weight: 400;
                        font-size: fluid(16, 14);
                        line-height: 135%;
                     }
                  }
               }
            }
         }
      }
   }

   .page__item-color--padding-12 {
      @include mobile {
         padding: rem(32) rem(12) !important;
      }
   }

   .hero-next--min-720 {
      .hero-next__container {
         min-height: rem(720);
      }
   }

   .long-block__list-item--mobile-columns-1 {
      @include mobile {
         grid-template-columns: 1fr;
      }
   }

   .banner--woman {
      .banner__img {
         width: rem(466);

         @include mobile {
            right: 50%;
            transform: translate(calc(50% - 20px), 10px);
         }
      }
   }

   .long-block-yellow {
      background: #fcf6e0;
      border-radius: rem(16);
      padding: fluid(48, 24);

      .long-border__text {
         margin-bottom: fluid(48, 24);
      }

      img {
         max-width: 100%;
      }

      &__list {
         list-style-type: decimal;
         list-style-position: inside;

         &-item {}
      }

      &__title {
         font-size: fluid(20, 16);
         margin-bottom: fluid(24, 16);
      }
   }


   .long-border>img {

      max-width: 100%;
      width: fit-content;
      margin: 0 auto;

   }

   .long-if-block-cars {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(10);

      &__item {
         padding: fluid(40, 24);
         background: var(--Background-Body);
         border-radius: rem(16);
         height: 100%;

         .img-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(240);
            margin-bottom: fluid(24, 16);

            img {
               max-width: 100%;
               max-height: 100%;
               margin: 0 auto;
            }
         }


         &-list {
            list-style-position: inside;
            list-style-type: decimal;
            margin-top: fluid(24, 16);

            .list-item {
               margin-bottom: fluid(14, 0);

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }

      @include tablet {
         grid-template-columns: 1fr;

         &__item {
            .img-wrapper {
               height: auto;
            }
         }
      }
   }
}

.attention-block {
   background: #e1401c;
   border-radius: rem(16);
   padding: fluid(40, 24);
   display: flex;
   align-items: center;

   &__top {
      display: flex;
      align-items: center;
      margin-bottom: rem(24);

      img {
         width: rem(42);
         height: rem(42);
         min-width: rem(42);
         min-height: rem(42);
         margin-right: rem(16);
      }

      &-text {
         font-weight: 600;
         font-size: fluid(24, 20);
         line-height: 145%;
         color: #fff;
      }
   }

   &__list {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: rem(10);

      &-item {
         font-weight: 500;
         font-size: fluid(20, 16);
         line-height: 145%;
         color: #fff;
         margin-bottom: fluid(10, 0);

      }
   }

   &__mark {
      width: rem(42);
      height: rem(42);
      min-width: rem(42);
      min-height: rem(42);
      margin-right: rem(24);

      img {
         width: 100%;
      }
   }

   &__text {
      font-weight: 500;
      font-size: fluid(24, 16);
      line-height: 145%;
      color: #fff;
   }

   @include mobile {
      flex-direction: column;
      align-items: flex-start;

      &__mark {
         width: rem(32);
         height: rem(32);
         min-width: rem(32);
         min-height: rem(32);
         margin-bottom: rem(16);
      }

      &__top {
         img {
            width: rem(32);
            height: rem(32);
            min-width: rem(32);
            min-height: rem(32);
         }
      }

      &__list {
         &-item {
            font-weight: 400;
            line-height: 155%;
         }
      }

      &__text {
         &--phone-small{
            font-weight: 400;
            line-height: 155%;
         }
      }
   }
}

.long-block__list {
   list-style-type: none;
   margin-top: rem(44);

   &--margin-none{
      margin-top: 0;
   }

   &-item {
      display: grid;
      grid-template-columns: rem(46) auto;
      align-items: flex-start;
      margin-bottom: rem(32);
      column-gap: rem(16);

      @include mobile {
         column-gap: 0;
      }

      &:last-child {
         margin-bottom: 0;
      }

      .item-number {
         background: #e1401c;
         border-radius: rem(8);
         width: rem(42);
         height: rem(42);
         min-width: rem(42);
         min-height: rem(42);
         font-weight: 600;
         font-size: rem(23);
         line-height: 180%;
         text-align: center;
         color: #fff;
         margin-right: rem(16);
         margin-top: rem(8);
      }

      .item-number--small {
         border-radius: rem(6);
         margin-top: rem(4);
         width: rem(30);
         height: rem(30);
         min-width: rem(30);
         min-height: rem(30);
         font-size: rem(16);
      }

      .item-text {

         span {
            display: inline;
            font-weight: 500;
         }

      }
   }

   &-item--margin-16 {
      margin-bottom: rem(16);
   }

   &-item--mobile {
      @include mobile {
         grid-template-columns: 1fr;

         .item-text {
            grid-column: 1;
         }

         .item-number {
            margin-right: 0;
            margin-top: 0;
            justify-self: center;
            margin-bottom: rem(8) !important;
         }

         .list--dots {
            grid-column: 1;
            margin-top: rem(15);
         }
      }
   }

   @include mobile {
      &-item {
         flex-direction: column;

         .item-number {
            width: rem(32);
            height: rem(32);
            min-width: rem(32);
            min-height: rem(32);
            font-size: rem(16);
            margin-bottom: rem(8);
            line-height: 190%;
         }
      }
   }

   .long-block__list-item--mobile-columns-1 {
      @include mobile {
         grid-template-columns: 1fr;
      }
   }
}

.long-block__list--margin-top {
   @include mobile {
      margin-top: rem(24);
   }
}

.long-block__list.long-block__list--color-blue{
   .long-block__list-item .item-number{
      background: var(--Background-Blue) !important;
   }
}

.long-block__list.long-block__list--phone-margin-small{
   @include mobile{
      .long-block__list-item.long-block__list-item--mobile-columns-1{
         margin-bottom: rem(16);

         .item-number{
            margin: 0 0 rem(8) 0;
         }
      }
   }
}

.long-block__list.long-block__list--margin-small{
   .long-block__list-item{
      margin-bottom: rem(16);
   }
}