@use '../helpers' as *;

.long{
    // текст
    &-title{
        font-size: fluid(36, 24);
        font-weight: 500;
        line-height: 145%;
    }

    &-text{
        font-size: fluid(20, 16);
        font-weight: 500;
        line-height: 145%;
    }

    &-text-big{
        font-size: fluid(24, 16);
        font-weight: 400;
        line-height: 145%;
    }
    &-text-bold{
        font-size: fluid(24, 20);
        font-weight: 600;
        line-height: 145%;
    }

    // общие
    &-item{
        margin-top: rem(24);

        position: relative;
        &::after{
            z-index: -50;

            content: '';

            position: absolute;
            top: 0;
            left: rem(-95);

            width: calc(100% + rem(95) * 2);
            height: 100%;

            background-color: var(--Background-White);
            border-radius: var(--border-radius-24);
        }

        color: var(--Text-Black);
    }

    &-block{
        margin-top: fluid(72, 48);

        display: flex;
        flex-direction: column;
        gap: rem(32);
    }

    // блоки
    &-links{
        position: relative;

        padding: rem(32) 0;

        display: flex;
        flex-direction: column;
        gap: rem(16);

        &__title{
            line-height: 155%;

            opacity: .5;
        }

        &__main{
            .swiper-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: rem(8);
            }
            .swiper-slide{
                width: auto;
            }
        }
        &__item{
            text-decoration: none;

            display: inline-block;

            padding: rem(8) rem(16);

            background-color: var(--Background-Body);
            border-radius: rem(96);

            line-height: 155%;
            color: var(--Text-Black);

            transition: var(--transition);

            @include hover{
                color: var(--Text-Orange);
            }
        }
    }

    &-color{
        display: flex;
        gap: rem(32);

        color: var(--Text-White);

        h1,h2,h3,h4,h5,h6{
            color: var(--Text-White);
        }

        &__text{
            display: flex;
            flex-direction: column;
            gap: fluid(24, 16);
        }

        &__img{
            object-fit: cover;

            border-radius: var(--border-radius-24);
        }


        &--50{
            padding: fluid(72, 32) 0;

            & > *{
                width: calc(50% - rem(10));
            }
        }
    }

    &-border{
        padding: rem(47);

        border: 1px solid var(--Background-Body);
        border-radius: var(--border-radius-16);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &__text{
            display: flex;
            flex-direction: column;
            gap: fluid(24, 16);
        }
    }

    &-slider{
        position: relative;

        padding-bottom: rem(49);

        &__item{
            width: 100%;
            height: fluid(240, 160);

            border-radius: var(--border-radius-12);
            object-fit: cover;
            object-position: top;
        }
    }


    @include laptop{
        &-item{
        
            &::after{
                left: calc(var(--container-padding-x) * -1);

                width: calc(100% + var(--container-padding-x) * 2);
            }

        }
    }

    @include tablet{
        &-color{
            &__img{
                height: 59vw;
            }


            &--50{
                flex-direction: column;

                & > *{
                    width: 100%;
                }
            }
        }
    }

    @include mobile{
        &-text-big{
            line-height: 155%;
        }

        &-title{
            font-weight: 600;
            line-height: 135%;
        }

        &-item{
            &--phone-none{
                &::after{
                    display: none;
                }
            }
        }

        &-links{
            padding: rem(24) 0;

            &::after{
                @include square(rem(26));

                content: '';

                position: absolute;
                top: rem(22);
                right: rem(4);

                background-image: url(../../../public/assets/svg/tabs-next-swipe.svg);
                background-size: cover;
            }

            &__title{
                line-height: 155%;

                opacity: .5;
            }

            &__main{
                position: relative;

                .swiper-wrapper{
                    flex-wrap: nowrap;
                    gap: 0;
                }
                .swiper-slide{
                    width: auto;
                }

                .swiper-button-prev,
                .swiper-button-next{
                    pointer-events: none;

                    bottom: 0;

                    width: rem(73);
                    height: rem(40);

                    svg{
                        display: none;
                    }

                    transition: var(--transition);

                    &.swiper-button-disabled{
                        opacity: 0;
                    }
                }
                .swiper-button-prev{
                    left: calc(var(--container-padding-x) * -1);

                    background: var(--Gradient-Grey-left);
                }
                .swiper-button-next{
                    right: calc(var(--container-padding-x) * -1);

                    background: var(--Gradient-Grey-right);
                }
            }
            &__item{
                flex-shrink: 0;

                font-size: rem(14);
                line-height: 135%;

                background-color: var(--Background-White);
            }
        }

        &-border{
            padding: rem(23);
        }
    }
}