@use '../helpers' as *;

.materials{
    display: flex;
    gap: rem(20);

    &__item{
        padding: rem(8);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-24);

        color: var(--Text-Black);

        &-img{
            width: 100%;

            border-radius: var(--border-radius-20);

            object-fit: cover;
            object-position: center;
        }
        &-content{
            height: calc(100% - rem(260));

            padding: rem(24);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(24);
        }
        &-top{
            display: flex;
            flex-direction: column;
            gap: rem(16);
        }
        &-title{
            font-size: fluid(24, 20);
            font-weight: 600;
            line-height: 145%;
        }
        &-text{
            line-height: 155%;
        }

        &-bottom{}
    }

    @media (width <= rem(800)) {
        flex-direction: column;
    }

    @include mobile{
        &__item{
            &-content{
                padding: rem(24) rem(16) rem(24) rem(16);
            }
            &-text{
                line-height: 155%;
            }

            &-bottom{}
        }
    }
}