@use '../helpers' as *;

.mission{
    padding: rem(32);

    background-color: var(--Background-White);
    border-radius: var(--border-radius-12);

    display: flex;
    flex-direction: column;
    gap: rem(32);

    &__header{
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    &__title{
        font-size: fluid(20, 16);
        font-weight: 500;
        line-height: 145%;
    }

    &__description{
        display: flex;
        flex-direction: column;
        gap: rem(16);

        font-size: rem(16);
        line-height: 155%;
    }

    &__main{
        display: flex;
        gap: rem(20);

        &-content{
            width: calc(50% - rem(10));

            padding: rem(8);

            border-radius: var(--border-radius-12);
            background-color: var(--Background-Grey-e6);

            display: flex;
            flex-direction: column;
            gap: rem(8);

            &-item{
                padding: rem(16) rem(24);

                display: flex;
                align-items: center;
                gap: rem(24);

                background-color: var(--Background-White);
                border-radius: var(--border-radius-12);
            }
            &-icon{
                display: flex;
                justify-content: center;
                align-items: center;

                & > svg{
                    @include square(rem(46));
                }
            }
            &-block{
                display: flex;
                flex-direction: column;
                gap: rem(4);
            }
            &-title{
                font-size: rem(16);
                font-weight: 500;
                line-height: 145%
            }
            &-text{
                font-size: fluid(16, 14);
                line-height: 155%;

                color: var(--Text-Grey);
            }
            
        }

        &-img{
            width: calc(50% - rem(10));

            border-radius: var(--border-radius-12);
            object-fit: cover;
            object-position: center right;
        }
    }

    @include tablet{
        &__main{
            flex-direction: column;

            &-content{
                width: 100%;
            }
            &-img{
                width: 100%;
            }
        }
    }

    @include mobile{
        padding: rem(24);

        &__main{
            &-content{
                &-item{
                    flex-direction: column;
                    align-items: start;

                    padding: rem(16);
                    gap: rem(16);
                }

                &-text{
                    line-height: 135%;
                }
            }
            &-img{
                height: 57vw;
            }
        }

        
    }
}