@use '../helpers' as *;

.page{
    &__item{
        margin-top: fluid(96, 72);

        &-color{
            position: relative;

            &::after{
                z-index: -20;

                content: '';

                position: absolute;
                top: 0;
                left: rem(-95);

                width: calc(100% + rem(95) * 2);
                height: 100%;

                border-radius: var(--border-radius-24);

                background-color: var(--Background-Blue);
            }
        }

        &-first{
            margin-top: rem(8);

            padding-bottom: 1px;
        }

        &-wrapper{
            margin-top: fluid(40, 32);
        }

        &-title{
            font-size: fluid(36, 28);
            font-weight: 600;
            line-height: fluid(45,37.8); /* 45px */
        }
    }

    @include laptop{
        &__item{
            width: 100%;
            overflow: hidden;

            &-color{
                &::after{
                    left: calc(var(--container-padding-x) * -1);

                    width: calc(100% + var(--container-padding-x) * 2);
                }
            }
        }
        
    }

    @include tablet{
        &__item-first{
            width: 100%;
            overflow: hidden;
        }
    }

    @include mobile{
        &__item-first{
            margin-top: 0;

            & .page__item-color::after{
                border-radius: 0;
            }
        }
        
    }
}