@use '../helpers' as *;

.page{
    &__item{
        margin-top: fluid(96, 72);

        &-color{
            position: relative;

            color: var(--Text-White);


            &::after{
                z-index: -20;

                content: '';

                position: absolute;
                top: 0;
                left: rem(-95);

                width: calc(100% + rem(95) * 2);
                height: 100%;

                border-radius: var(--border-radius-24);

                background-color: var(--Background-Blue);
            }

            .page__item-title{
                color: var(--Text-White);
            }

            &--main{
                padding-top: fluid(72, 48);
                padding-bottom: fluid(76, 48);
            }
        }

        &-first{
            margin-top: rem(8);

            padding-bottom: 1px;

            & .page__item-color::after{
                background-image: url(../../assets/svg/Background.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        &-wrapper{
            margin-top: fluid(40, 32);
        }

        &-title{
            font-size: fluid(36, 28);
            font-weight: 600;
            line-height: fluid(45,37.8); /* 45px */
        }

        &-btn{
            margin-top: rem(40);

            display: flex;
            justify-content: center;
        }

        &-header{
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(10);

            &-img{
                z-index: -10;

                position: absolute;
                top: rem(-98);
                right: 0;
            }

            &--img{
                .page__item-title{
                    max-width: rem(640);
                }
            }

            &-description{
                position: relative;

                line-height: 155%;
                color: var(--Text-Grey);

                &::after{
                    @include square(rem(24));

                    content: '';

                    position: absolute;
                    top: calc(50% - rem(12));
                    left: 0;
                    
                    background-image: url(../../public/assets/svg/icon-page-description.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            &--description{
                position: relative;
                align-items: end;

                .page__item-title{
                    max-width: rem(575);
                }

                .page__item-header-description{
                    max-width: rem(575);

                    padding-left: rem(40);

                    font-size: fluid(16, 14);

                    line-height: 155%;
                }
            }
        }

        &-text{
            line-height: 155%;

            .container &{
                margin-top: rem(24);
            }
        }

        &--wrapper{
            width: 100%;
            overflow: hidden;
        }
    }

    @include laptop{
        
        &__item{
            &-color{
                &::after{
                    left: calc(var(--container-padding-x) * -1);

                    width: calc(100% + var(--container-padding-x) * 2);
                }
            }
        }
        
    }

    @include tablet{
        &__item-first{
            width: 100%;
            overflow: hidden;
        }
    }

    @include mobile{
        &__item{
            &-first{
                margin-top: 0;

                & .page__item-color::after{
                    border-radius: 0;
                }

                & .page__item-color::after{
                    background-image: url(../../assets/svg/Background-phone.svg);
                }
            }

            &-header{
                flex-direction: column;
                gap: rem(24);

                &--img{
                    .page__item-header-img{
                        top: rem(-70);
                        right: rem(-30);
                    }
                }

                &--description{
                    .page__item-header-description{
                        line-height: 135%;
                    }
                }
            }

            &--wrapper-mobile{
                overflow: hidden;

                margin-top: 0;

                padding-top: fluid(96, 72);
            }
        }
        

    }
}