@use '../helpers' as *;

.page{
    &__item{
        margin-top: rem(96);

        &-color{
            position: relative;

            &::after{
                z-index: -20;

                content: '';

                position: absolute;
                top: 0;
                left: rem(-95);

                width: calc(100% + rem(95) * 2);
                height: 100%;

                border-radius: var(--border-radius-24);

                background-color: var(--Background-Blue);
            }
        }

        &-first{
            margin-top: rem(8);
        }
    }

    @include laptop{
        &__item{
            width: 100%;
            overflow: hidden;

            &-color{
                &::after{
                    left: calc(var(--container-padding-x) * -1);

                    width: calc(100% + var(--container-padding-x) * 2);
                }
            }
        }
        
    }
}