@use '../helpers' as *;

.partners{
    &__item{
        width: 100%;

        padding: rem(16);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-24);

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(16);

        &-img{
            object-fit: contain;
            object-position: left center;
        }

        &-text{
            font-size: rem(14);
            line-height: 135%;
            text-align: center;
        }
    }
}