@use '../helpers' as *;

.price{
    display: flex;
    gap: rem(20);

    &__item{
        width: calc(33.33% - rem(13.33));

        border: 4px solid var(--Background-White);
        border-radius: var(--border-radius-12);

        background-color: var(--Background-White);

        text-align: center;
    }

    &__img{
        width: 100%;
        height: rem(190);

        background-color: var(--Background-Grey-e9);
        border-radius: var(--border-radius-8);

        & > img{
            width: 100%;
            height: 100%;

            object-fit: contain;
            object-position: center;
        }

        &--bottom{
            & > img{
                object-position: bottom center;
            }
        }
    }

    &__title{
        position: relative;

        padding: rem(24);

        min-height: rem(106);

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: rem(20);
        font-weight: 600;
        line-height: 145%;

        &::after{
            content: '';

            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 1px;

            background-color: var(--Background-Grey-e8);
        }
    }

    &__description{
        padding: rem(24);

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(8);
    }
    &__number{
        font-size: rem(24);
        font-weight: 600;
        line-height: 145%;
    }
    &__type{
        font-size: rem(14);
        line-height: 135%;

        color: var(--Text-Grey);
    }

    @include tablet{
        flex-wrap: wrap;
        justify-content: center;

        &__item{
            width: calc(50% - rem(10));
        }
    }

    @include mobile{
        &__item{
            width: 100%;
        }

        &__title{
            min-height: auto;
        }
    }
}