@use '../helpers' as *;

.sign{
    display: flex;
    gap: rem(24);

    &__item{
        width: calc(50% - rem(12));

        padding: rem(32) rem(40);

        background-color: var(--Background-White);
        border-radius: var(--border-radius-16);

        color: var(--Text-Black);

        display: flex;
        flex-direction: column;
        gap: rem(32);

        &-header{
            position: relative;
            padding-bottom: rem(16);

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(8);

            &::after{
                content: '';

                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                height: 1px;

                background-color: var(--Background-Grey-e8);
            }
        }

        &-title{
            font-size: fluid(24, 20);
            font-weight: 600;
            line-height: 145%;
        }
        &-img{
            @include square(rem(72));

            flex-shrink: 0;
        }

        &-list{
            list-style-type: none;

            padding-left: rem(48);

            counter-reset: item;

            li{
                position: relative;

                counter-increment: item;

                &::before {
                    @include square(rem(32));

                    content: counter(item);

                    position: absolute;
                    top: calc(50% - rem(16));
                    left: rem(-48);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 50%;

                    background-color: var(--background-orange);
                    color: var(--Text-White);
                }

                min-height: rem(32);

                line-height: 155%;

                & a{
                    color: var(--Background-Blue);
                }
            }

            display: flex;
            flex-direction: column;
            gap: rem(16);
        }
    }

    @include tablet{
        flex-direction: column;

        &__item{
            width: 100%;
        }
    }

    @include mobile{
        gap: rem(8);

        &__item{
            padding: rem(32);

            gap: rem(16);

            &-img{
                @include square(rem(46));
            }

            &-list{
                padding-left: rem(40);

                li{
                    &::before{
                        @include square(rem(24));

                        top: calc(50% - rem(12));
                        left: rem(-40);

                        font-size: rem(12);
                        line-height: 145%;
                    }
                }
            }
        }
    }
}