@use '../helpers' as *;

.special{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: rem(286) rem(94) rem(232);
    gap: rem(20);
    grid-template-areas: 
        "one three four"
        "two three four"
        "two five five";

    &__item{
        position: relative;
        overflow: hidden;

        padding: fluid(29, 21);

        border-radius: var(--border-radius-20);
        background-color: var(--Background-White);

        border: 3px solid var(--Background-White);

        &-title{
            font-size: fluid(20, 16);
            line-height: 135%; /* 27px */
        }

        &-img{
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;

            object-fit: cover;
        }

        &:nth-child(1){
            grid-area: one;

            & .special__item-img{
                width: 100%;
            }
        }

        &:nth-child(2){
            grid-area: two;

            & .special__item-title{
                display: none;
            }

            padding: 0;

            & .special__item-img{
                width: 100%;
                height: 100%;
            }
        }

        &:nth-child(3){
            grid-area: three;
        }

        &:nth-child(4){
            grid-area: four;

            display: flex;
            align-items: end;

            & .special__item-img{
                top: 0;
                bottom: auto;

                width: 130%;
            }
        }

        &:nth-child(5){
            grid-area: five;

            display: flex;
            align-items: center;

            & .special__item-title{
                max-width: rem(270);
            }
        }
    }

    @include tablet{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, rem(360)) rem(240);
        grid-template-areas: 
            "one two"
            "three four"
            "five five";

        &__item{
            &:nth-child(1){
                & .special__item-img{
                    height: 51%;
                }
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                & .special__item-img{
                    width: 100%;
                }
            }
            
            &:nth-child(3){
                & .special__item-img{
                    height: 86%;
                }
            }

            &:nth-child(5){
                & .special__item-img{
                    height: 100%;

                    object-position: left;
                }
            }
        }
    }

    @media (width <= rem(600)) {
        grid-template-columns: 100%;
        grid-template-rows: rem(244) repeat(4, rem(275));
        grid-template-areas: 
            "one"
            "three"
            "two"
            "four"
            "five";

        &__item{

            &:nth-child(1){
                .special__item-img{
                    left: calc(50% - rem(155));

                    width: rem(310);

                    height: auto;
                }

                .special__item-title{
                    max-width: 88%;
                }
            }

            &:nth-child(2){
                .special__item-img{
                    position: static;

                    object-position: top;
                }

                .special__item-title{
                    display: block;

                    position: absolute;
                    left: rem(21);
                    bottom: rem(21);

                    color: var(--Text-White);
                }
            }

            &:nth-child(3){
                .special__item-img{
                    top: rem(-30);
                    left: auto;
                    right: 0;

                    height: auto;
                }
            }

            &:nth-child(4){
                .special__item-img{
                    left: calc(50% - rem(180));
                    width: rem(360);

                    height: 77%;
                    object-fit: contain;
                }
            }

            &:nth-child(5){
                align-items: start;

                .special__item-img{
                    top: 0;

                    object-position: rem(-150);
                }
            }
        }
    }


    @include mobile-s{
        &__item{
            &:nth-child(3){
                .special__item-img{
                    top: 10%;
                }
            }

            &:nth-child(5){

                .special__item-img{
                    object-position: rem(-243) rem(20);
                }
            }
        }
    }
}