@use '../helpers' as *;

.special{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: rem(286) rem(94) rem(232);
    gap: rem(20);
    grid-template-areas: 
        "one three four"
        "two three four"
        "two five five";

    &__item{
        position: relative;
        overflow: hidden;

        padding: rem(29);

        border-radius: var(--border-radius-20);
        background-color: var(--Background-White);

        border: 3px solid var(--Background-White);

        &-title{
            font-size: rem(20);
            line-height: 135%; /* 27px */
        }

        &-img{
            position: absolute;
            left: 0;
            bottom: 0;

            object-fit: cover;
        }

        &:nth-child(1){
            grid-area: one;

            & .special__item-img{
                width: 100%;
            }
        }

        &:nth-child(2){
            grid-area: two;

            & .special__item-title{
                display: none;
            }

            padding: 0;

            & .special__item-img{
                width: 100%;
                height: 100%;
            }
        }

        &:nth-child(3){
            grid-area: three;
        }

        &:nth-child(4){
            grid-area: four;

            display: flex;
            align-items: end;

            & .special__item-img{
                top: 0;
                bottom: auto;
            }
        }

        &:nth-child(5){
            grid-area: five;

            display: flex;
            align-items: center;

            & .special__item-title{
                max-width: rem(270);
            }
        }
    }

    
}