@use '../helpers' as *;

.tabs{
    display: flex;
    gap: rem(20);

    &__controller{
        flex-shrink: 0;

        width: rem(376);

        &-wrapper{
            
        }

        &-content{
            display: flex;
            flex-direction: column;
            gap: rem(8);
        }

        &-item{
            position: relative;

            padding: rem(24) rem(32);

            font-size: rem(20);
            font-weight: 600;
            line-height: 145%;

            text-align: start;

            border-radius: var(--border-radius-16);
            background-color: var(--Background-White);

            &.is-active{
                background-color: var(--Background-Blue);
                color: var(--Text-White);

                &::after{
                    content: '';
                    
                    position: absolute;
                    top: calc(50% - rem(14));
                    right: rem(-14);


                    width: rem(21);
                    height: rem(28);

                    background-image: url(../../src/assets/svg/tabs-controller.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &-phone{
            display: none;
        }
    }

    &__content{
        width: 100%;
    }

    &__item{
        overflow: hidden;
        position: relative;
        display: none;

        &.is-active{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        height: rem(560);

        padding: rem(40);

        border-radius: var(--border-radius-24);
        color: var(--Text-White);

        &::after{
            z-index: -10;

            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: url(../../src/assets/svg/tabs-item.svg);
            background-repeat: no-repeat;
            background-position: center;
            
            background-color: var(--Background-Blue);
        }

        &-top{
            display: flex;
            flex-direction: column;
            gap: rem(40);
        }
        &-tags{
            list-style-type: none;

            display: flex;
            align-items: center;
            gap: rem(16);
            flex-wrap: wrap;

            & p{
                padding: rem(5) rem(12) rem(7) rem(12);

                background: var(--Gradient-Blue);
                border-radius: var(--border-radius-8);
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            gap: rem(24);
        }
        &-title{
            max-width: rem(560);

            font-size: rem(42);
            font-weight: 600;
            line-height: 125%; /* 52.5px */
            letter-spacing: rem(-0.42);
        }
        &-text{
            max-width: rem(409);

            font-size: rem(20);
            font-weight: 600;
            line-height: 145%; /* 29px */
        }

        &-bottom{}

        &-img{
            z-index: -5;

            position: absolute;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    @include tablet {
        flex-direction: column;

        &__controller{
            width: 100%;

            &-phone{
                width: 100%;

                padding: rem(24);

                background-color: var(--Background-Blue);
                color: var(--Text-White);
                border-radius: var(--border-radius-16);

                display: flex;
                justify-content: space-between;
                align-items: center;


                font-weight: 600;
                line-height: 145%; /* 23.2px */
            }

            &-item{
                &.is-active{
                    display: none;
                }
            }
        }
    }
}