@use '../helpers' as *;

.btn{
    display: inline-block;

    text-decoration: none;
    border: none;
    background: none;

    & > .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    transition: var(--transition);

    & *{
        transition: var(--transition);
    }

    &--base{
        padding: rem(8.5) rem(24);

        font-weight: 600;
        line-height: 145%; /* 23.2px */

        border-radius: var(--border-radius-12);
    }

    &--orange{
        background: var(--Button-Red);
        color: var(--Text-White);

        box-shadow: 0 6px 16px 0 rgba(251, 63, 21, 0.20);

        @include hover{
            opacity: 0.8;
        }
    }

    &--white{
        background-color: var(--Background-White);
        color: var(--Text-Black);

        @include hover{
            opacity: 0.8;
        }
    }

    &--phone{
        @include square(rem(40));

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(3);

        border-radius: var(--border-radius-12);

        & > span{
            background-color: var(--white);

            width: rem(24);
            height: rem(2);

            border-radius: 20px;

            &:nth-child(2){
                width: rem(14);
            }
        }

        &.is-active{
            & > span{
                &:nth-child(2){
                    width: 0;
                }

                &:nth-child(1){
                    width: rem(18);

                    transform: translateY(5px) rotate(45deg);
                    height: rem(3);
                }
                &:nth-child(3){
                    width: rem(18);

                    transform: translateY(-6px) rotate(-45deg);
                    height: rem(3);
                }
            }
        }
    }

    &--page{
        padding: rem(20.5) rem(48);

        line-height: 145%;

        border-radius: var(--border-radius-16);
    }

    &--add-phone{
        padding: rem(16);

        border-radius: var(--border-radius-16);

        font-weight: 600;
        line-height: 145%; /* 23.2px */
    }

    &--per-100{
        width: 100%;

        text-align: center;
    }

    &--answers{
        @include square(rem(32));

        background-color: var(--Background-Body);
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: var(--transition);

        @include hover{
            background-color: var(--Background-Blue);

            & svg *{
                fill: var(--Text-White)
            }
        }
    }

    &--open-video{
        padding: rem(16) rem(24);

        background-color: var(--Background-Body);
        border-radius: var(--border-radius-16);

        display: flex;
        align-items: center;
        gap: rem(10);

        color: var(--Text-Black);

        font-size: rem(14);
        line-height: 135%;

        & > span{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        transition: var(--transition);

        @include hover{
            opacity: .8;
        }
    }

    &--open-review{
        width: 100%;

        padding: rem(8);

        border-radius: var(--border-radius-12);
        background-color: var(--Background-Body);
        color: var(--Text-Grey);
        

        font-size: rem(14);
        line-height: 135%;

        transition: var(--transition);

        @include hover{
            color: var(--Text-Orange);
        }
    }

    &--ajax{
        padding: rem(16) rem(32);

        border-radius: var(--border-radius-8);

        font-weight: 600;

        display: flex;
        align-items: center;
        gap: rem(10);

        transition: var(--transition);

        * {
            transition: var(--transition);
        }

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include hover{
            opacity: 1;

            color: var(--Text-Orange);

            & svg * {
                fill: var(--Text-Orange);
            }
        }

        @include mobile{
            width: 100%;

            justify-content: center;
        }
    }

    @include mobile{
        &--per-100-phone{
            width: 100%;

            text-align: center;
        }
    }
}

.swiper{
    &--height-item{
        .swiper-slide{
            display: flex;
            align-items: stretch;
        }

        .swiper-slide{
            height: auto;
        }
    }
    &--scroll-drag{
        .swiper-scrollbar{
            position: absolute;
            left: 0;
            bottom: 0;

            display: block;

            .swiper-scrollbar-drag{
                background: var(--Background-Blue);
            }
        }

        @include tablet{
            padding-bottom: rem(36);
        }
    }

    &--pagination{
        padding-bottom: rem(52);

        position: relative;

        .swiper-pagination-bullet{
            opacity: 1;

            @include square(rem(12));

            background: var(--Background-Grey-e7);
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background: var(--Background-Blue);
        }
    }

    &--controller{
        .swiper-button-prev{
            left: rem(37);
        }
        .swiper-button-next{
            right: rem(37);
        }

        .swiper-button-prev,
        .swiper-button-next{
            @include square(rem(50));

            top: auto;
            bottom: rem(327);

            border-radius: 50%;

            & > svg{
                width: rem(14);
            }

            transition: var(--transition);

            *{
                transition: var(--transition);
            }

            @include hover{
                & > svg *{
                    fill: var(--Text-Orange);
                }
            }
        }

        &-grey{
            .swiper-button-prev,
            .swiper-button-next{
                background-color: var(--Background-White);
            }
        }

        @include laptop{
            .swiper-button-prev,
            .swiper-button-next{
                bottom: 37%;
            }
        }

        @include mobile{
            .swiper-button-prev{
                left: rem(6);
            }
            .swiper-button-next{
                right: rem(6);
            }

            .swiper-button-prev,
            .swiper-button-next{
                @include square(rem(36));

                bottom: 35vw;

                & > svg{
                    width: rem(11);
                }
            }
        }
    }
}

.controller-slider{
    display: flex;
    align-items: center;
    gap: rem(8);

    .btn--slider{
        @include square(rem(50));

        background-color: var(--Background-White);
        border-radius: 50%;

        transition: var(--transition);

        & *{
            transition: var(--transition);
        }

        @include hover{
            background-color: var(--background-orange);

            & svg *{
                fill: var(--Text-White)
            }
        }

        &.swiper-button-disabled{
            pointer-events: none;

            background-color: var(--Background-Body);
            opacity: 0.7;
        }
    }
}

.text{
    &-center{
        text-align: center;
    }
}

.no-scroll{
    /* Firefox */
    scrollbar-width: none;

    /* IE 10+ */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        /* Chrome, Safari, Edge */
        display: none;
    }
}


// Доп элементы
.br-laptop-above{
    display: block;

    @include tablet{
        display: none;
    }
}

.br-tablet{
    display: none;

    @include tablet{
        display: block;
    }
}

.br-mobile{
    display: none;

    @include mobile{
        display: block;
    }
}

