@use '../helpers' as *;

.btn{
    display: inline-block;

    text-decoration: none;
    border: none;
    background: none;

    & > .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    transition: var(--transition);

    & *{
        transition: var(--transition);
    }

    &--base{
        padding: rem(8.5) rem(24);

        font-weight: 600;
        line-height: 145%; /* 23.2px */

        border-radius: var(--border-radius-12);
    }

    &--orange{
        background: var(--Button-Red);
        color: var(--Text-White);

        @include hover{
            opacity: 0.8;
        }
    }

    &--white{
        background-color: var(--Background-White);
        color: var(--Text-Black);

        @include hover{
            opacity: 0.8;
        }
    }

    &--phone{
        @include square(rem(40));

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(3);

        border-radius: var(--border-radius-12);

        & > span{
            background-color: var(--white);

            width: rem(24);
            height: rem(2);

            border-radius: 20px;

            &:nth-child(2){
                width: rem(14);
            }
        }

        &.is-active{
            & > span{
                &:nth-child(2){
                    width: 0;
                }

                &:nth-child(1){
                    transform: translateY(5px) rotate(45deg);
                }
                &:nth-child(3){
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }

    &--page{
        padding: rem(20.5) rem(48);

        border-radius: var(--border-radius-16);
    }

    &--add-phone{
        padding: rem(16);

        border-radius: var(--border-radius-16);

        font-weight: 600;
        line-height: 145%; /* 23.2px */
    }

    &--per-100{
        width: 100%;

        text-align: center;
    }
}

.swiper{
    &--height-item{
        .swiper-slide{
            display: flex;
            align-items: stretch;
        }

        .swiper-slide{
            height: auto;
        }
    }
    &--scroll-drag{
        .swiper-scrollbar{
            position: absolute;
            left: 0;
            bottom: 0;

            display: block;

            .swiper-scrollbar-drag{
                background: var(--Background-Blue);
            }
        }

        @include tablet{
            padding-bottom: rem(36);
        }
    }
}