@use '../helpers' as *;

.what{
    padding: rem(32);

    background-color: var(--Background-White);
    border-radius: var(--border-radius-12);

    display: flex;
    flex-direction: column;
    gap: rem(32);

    & .page__item-text{
        margin-top: 0;
    }

    &__content{
        display: flex;
        gap: rem(20);
    }

    &__item{
        width: calc(25% - rem(15));

        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
    &__img{
        width: 100%;
        height: rem(200);

        background-color: var(--Background-Grey-e9);

        border-radius: var(--border-radius-20);

        & > img{
            width: 100%;
            height: 100%;

            object-fit: contain;
        }

        &--bottom{
            & > img{
                object-position: bottom;
            }
        }
    }
    &__text{
        line-height: 145%;
    }

    @include tablet{
        &__content{
            flex-wrap: wrap;
        }
        &__item{
            width: calc(50% - rem(15));
        }
    }

    @media (width <= rem(660)) {
        &__item{
            width: 100%;
        }

        &__text{
            text-align: center;
        }
    }
}